{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/_faf-inset-top.html" %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Matching frameworks</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, there are multiple approved frameworks to choose from.</p>

    <dl class="card">
      <a href="mfd/ict-procurement"></a>
      <div class="card__header">
        <dt class="govuk-visually-hidden">Framework name:</dt>
        <dd class="card__title">Everything ICT</dd>
      </div>
      <div class="card__content">
        <dt>Provider:</dt>
        <dd>Everything ICT</dd>
      </div>
    </dl>
  
    <dl class="card">
      <a href="mfd/edtech"></a>
      <div class="card__header">
        <dt class="govuk-visually-hidden">Framework name:</dt>
        <dd class="card__title">Education technology</dd>
      </div>
      <div class="card__content">
        <dt>Provider:</dt>
        <dd>CCS</dd>
      </div>
    </dl>
  
    <dl class="card govuk-!-margin-bottom-8">
      <a href="mfd/mfd-digi-transform"></a>
      <div class="card__header">
        <dt class="govuk-visually-hidden">Framework name:</dt>
        <dd class="card__title">Multifunctional devices and digital transformation solutions</dd>
      </div>
      <div class="card__content">
        <dt>Provider:</dt>
        <dd>CPC</dd>
      </div>
    </dl>

    {{ govukRadios({
      name: "where-do-you-live",
      fieldset: {
        legend: {
          text: "Do you need help choosing a framework?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "england",
          text: "Yes"
        },
        {
          value: "scotland",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    
    {% include "../../../includes/_previous-answers.html" %}
    
  </div>
</div>
{% endblock %}