{% extends "layouts/faf.html" %}
{% set title = "What are you buying?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/faf/service-output"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
      {% include "shared/_faf-inset-top.html" %}

      {{ govukRadios({
        name: "radio-selected",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "goods",
            text: "Goods"
          },
          {
            value: "services",
            text: "Services"
          }
        ]
      }) }}
      
      {{ govukButton({
          text: "Continue"
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
