{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/_faf-inset-top.html" %}
    
    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What services do you need?</h1>
          </legend> 
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories" name="category" type="radio" value="Consultancy services~services/consultancy-services?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories">Consultancy services</label>  
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories-2" name="category" type="radio" value="Energy and utilities~services/energy-update?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories-2">Energy and utilities</label>  
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories-3" name="category" type="radio" value="Facilities management and estates~services/facilities">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories-3">Facilities management and estates</label> 
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories-4" name="category" type="radio" value="Financial~services/financial?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories-4">Financial</label>   
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories-5" name="category" type="radio" value="ICT~services/ict?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories-5">ICT</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories-6" name="category" type="radio" value="Legal~services/legal?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories-6">Legal</label> 
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories-7" name="category" type="radio" value="Recruitment, HR and training~services/recruitment?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories-7">Recruitment, HR and training</label> 
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-services-categories-8" name="category" type="radio" value="Transport~services/transport?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-services-categories-8">Transport</label>      
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    {% include "../includes/_previous-answers.html" %}
    
  </div>
</div>
{% endblock %}