{% extends "layouts/main.html" %}
{% set title = "What are you buying?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/specify/create-specification"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% set missionHtml %}
          {{ govukTextarea({
            name: "mission-statement",
            id: "mission-statement",
            label: {
              text: "What is your school's mission statement?",
              isPageHeading: true
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          fieldset: {
            legend: {
              text: "Does your school have a mission statement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Suppliers will use this to assess how well they are aligned to the school's vision for a healthy partnership."
          },
          items: [
            {
              value: "completed",
              text: "Yes",
              conditional: {
                html: missionHtml
              }
            },
            {
              value: "completed",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>      
    </div>
  </div>
{% endblock %}
