{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/_faf-inset-top.html" %}
      
    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What type of meter do you have?</h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-meter-type" name="meter" type="radio" value="Half hourly metered~meter-half-hourly">
              <label class="govuk-label govuk-radios__label" for="decision-tree-meter-type">Half hourly metered</label> 
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-meter-type-2" name="meter" type="radio" value="Non-half hourly metered~meter-non-half-hourly">
              <label class="govuk-label govuk-radios__label" for="decision-tree-meter-type-2">Non-half hourly metered</label>         
            </div>
          </div>
        </fieldset>
      </div>
        
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Help with meter types</span>
        </summary>
        <div class="govuk-details__text">
          <p>Find out which meter you have by checking the MPAN number. This is on your energy bill.</p><img src="/assets/images/mpan-example.png" alt="Example of energy bill with MPAN highlighted" class="govuk-!-margin-bottom-3"><p>The first two numbers after the S show which meter you have. If it’s 00, it’s a half hourly meter, any other number means it’s a non-half hourly meter.</p>
        </div>
      </details>  
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    {% include "../../../includes/_previous-answers.html" %}

  </div>
</div>
{% endblock %}