{% extends "layouts/main.html" %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block pageTitle %}
Buying procedures and procurement law for schools
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <div class="govuk-width-container ">
        
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a new service – your feedback will help us improve it
      </span>
    </p>
  </div>
</div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          


    <div class="govuk-grid-row manuals-header">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="gem-c-heading govuk-heading-l gem-c-heading--inverse govuk-!-margin-bottom-3">Buying procedures and procurement law for schools</h1>
        <div class="gem-c-metadata gem-c-metadata--inverse" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
          <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
              <dt class="gem-c-metadata__term">From:</dt>
              <dd class="gem-c-metadata__definition">
                  <a class="govuk-link" href="#">Department for Education</a>
              </dd>
              <dt class="gem-c-metadata__term">Not yet published</dt>
              <dd class="gem-c-metadata__definition"></dd>      
          </dl>
        </div>
      </div>
    </div>

    <div data-module="gem-track-click ga4-link-tracker" class="gem-c-breadcrumbs govuk-breadcrumbs gem-c-breadcrumbs--border-bottom" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          Contents
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
<main role="main" id="content" class="manual" lang="en">
  <div id="manuals-frontend" class="manuals-frontend-body">

<div class="manual-body">
  <p class="gem-c-lead-paragraph">How to buy goods, works or services for your school.</p>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

  <p class="govuk-body">Following these guides will help schools to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>get value for money</li>
    <li>comply with procurement law</li>
  </ul>

<p>Read <a href="#">buying for schools</a> for advice on the types of goods and services schools regularly buy, such as catering and ICT hardware.</p>

<p>On 31 December 2020, the <a rel="external" href="#">Find a Tender service</a> replaced Tenders Electronic Daily (TED) in the UK public procurement process. UK buyers who previously published OJEU notices on TED should now use the Find a Tender service. Notices published before this change are still on <a rel="external" href="#">TED</a>.</p>

</div>
<ul class="gem-c-document-list">
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Before you start</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to prepare and research before buying things for your school to help you get the best deal and save money.</p>
  </li>
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Writing a specification</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to write a specification – the document you give to suppliers explaining what you want to buy.</p>
  </li>
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Find the right way to buy</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">When to buy from a framework agreement, when to get bids or quotes and when to run a Public Contracts Regulations (PCR) compliant buying process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Select a supplier direct from a framework agreement</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy from a framework agreement where they’re allowed to select the supplier directly.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Run a mini-competition</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy from a framework agreement where all suppliers can bid.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Buying low to medium cost things</a>
     <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy low or medium value things by researching suppliers and getting at least 3 quotes.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Buying high-value things under the Public Contracts Regulations (PCR) procurement threshold </a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy high value things, including how to advertise a contract and run a procurement process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Buying things that are over the procurement threshold</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy high value things and comply with Public Contracts Regulations (PCR) procurement rules, including advertising a contract and running a buying process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Writing contracts and managing a contract</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">What should be in a school's contract with their supplier, and how they should manage them throughout the buying process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Fraud</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to avoid fraud and what to do if you suspect it.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">How to manage your fixed assets</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Keeping a fixed asset register</p>
  </li>
</ul>
  <div class="govuk-width-container">
      <div class="govuk-footer__navigation" data-module="gem-track-click" data-track-links-only="" data-gem-track-click-module-started="true">
           
            </div>
            
      </div>

      
        
{% endblock %}
