{% extends "layouts/main.html" %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block pageTitle %}
Buying for schools: things to consider before you start
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <div class="govuk-width-container ">
        
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a new service - your feedback will help us improve it
      </span>
    </p>
  </div>
</div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          


    <div class="govuk-grid-row manuals-header">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="gem-c-heading govuk-heading-l gem-c-heading--inverse govuk-!-margin-bottom-3">Buying for schools: things to consider before you start</h1>
        <div class="gem-c-metadata gem-c-metadata--inverse" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
          <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
              <dt class="gem-c-metadata__term">From:</dt>
              <dd class="gem-c-metadata__definition">
                  <a class="govuk-link" href="#">Department for Education</a>
        
              </dd>
              <dt class="gem-c-metadata__term">Not yet published</dt>
              <dd class="gem-c-metadata__definition"></dd>
          
                
          </dl>
        </div>
      </div>
    </div>
    <div data-module="gem-track-click ga4-link-tracker" class="gem-c-breadcrumbs govuk-breadcrumbs gem-c-breadcrumbs--border-bottom" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          Contents
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
<main role="main" id="content" class="manual" lang="en">
  <div id="manuals-frontend" class="manuals-frontend-body">

<div class="manual-body">
  <p class="gem-c-lead-paragraph">Information and advice on what to think about and be aware of before you buy specific goods or services for your school.</p>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

  <p class="govuk-body">Use the Get help buying for school service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>get free help and support from procurement specialists on buying goods and services</li>
    <li>if the thing you're looking for is not listed</li>
  </ul>

<p>There's separate guidance on buying procedures and procurement law, which covers how to run a compliant procurement and recommended ways to buy.</p>

</div>
<ul class="gem-c-document-list">
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Books and educational resources</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Negotiate with suppliers to save money and make the most of their services.</p>
  </li>
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Catering services</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to find the best solution for the catering requirements of your school.</p>
  </li>
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Cleaning services</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to find the right cleaning solutions for your school or multi-academy trust.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Consultancy: educational services, and design and build</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy consultancy services and use a DfE-recommended framework to get good value.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Energy</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Find the right way to buy energy for your school.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Energy procurement - minimum standard questions</a>
     <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Information and action to take at the end of a contract.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">HR and payroll services</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to buy HR and payroll services and use a DfE-recommended framework to get good value.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">ICT and computer hardware</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Find the right way to buy ICT or computer hardware for your school.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Leasing equipment for schools</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">What to consider to ensure you get the best value for money and a compliant lease agreement for your school.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Legal</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can evaluate the legal services they currently have, renegotiate fees and switch suppliers.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="#">Multi-functional devices (MFD) and printing</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Find the right way to buy multi-functional devices (MFD) and printing services for your school.</p>
  </li>
</ul>
  <div class="govuk-width-container">
      <div class="govuk-footer__navigation" data-module="gem-track-click" data-track-links-only="" data-gem-track-click-module-started="true">
           
            </div>
            
      </div>

      
        
{% endblock %}
