{% extends "layouts/main.html" %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block pageTitle %}
Find the right way to buy
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <div class="govuk-width-container ">
        
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a new service – your feedback will help us improve it
      </span>
    </p>
  </div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          


    <div class="govuk-grid-row manuals-header">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="gem-c-heading govuk-heading-l gem-c-heading--inverse govuk-!-margin-bottom-3">Buying procedures and procurement law for schools</h1>
        <div class="gem-c-metadata gem-c-metadata--inverse" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
          <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
              <dt class="gem-c-metadata__term">From:</dt>
              <dd class="gem-c-metadata__definition">
                  <a class="govuk-link" href="#">Department for Education</a>
        
              </dd>
              <dt class="gem-c-metadata__term">Not yet published</dt>
              <dd class="gem-c-metadata__definition"></dd>
          
                
          </dl>
        </div>
      </div>
    </div>

    <div data-module="gem-track-click ga4-link-tracker" class="gem-c-breadcrumbs govuk-breadcrumbs gem-c-breadcrumbs--border-bottom" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          Contents
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="manual-body">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">
Find the right way to buy
</h2>

<p class="govuk-body-l">When to buy from a framework agreement, when to get bids or quotes and when to run a Public Contracts Regulations (PCR) compliant buying process.</p>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Follow your school’s procurement rules. You can get these from your school or your local authority.
  </strong>
</div>

</div>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds app-mainstream-guide-body">

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          When to buy using a framework agreement
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>Frameworks are a type of contract you can use to buy goods, works or services for your school.</p>
        <p class="govuk-body">Buying from a framework can be quicker and easier than getting bids or quotes because the agreements:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have already been through a full competitive tender process</li>
          <li>have been quality checked</li>
          <li>are checked to make sure they comply with the law</li>
          <li>may have draft specifications and help available</li>
    </ul>
    <p class="govuk-body">Each framework agreement has:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>details of the products and services available</li>
        <li>an agreed pricing structure</li>
        <li>details of the suppliers</li>
        <li>instructions on how to buy</li>
        <li>an agreed set of terms and conditions</li>
      </ul>
      <p class="govuk-body">Each framework tells you how to choose a supplier and place an order.</p>
        <p>You will have 2 options:</p>
        <ol class="govuk-list govuk-list--number">
            <li><a href="#">Select the supplier from a list</a>.</li>
            <li><a href="#">Run a ‘mini-competition’</a> – this is where you ask all suppliers on the list to send you a bid and you choose the best one.</li>
        </ol>
        <h3 class="govuk-heading-s">
            How frameworks are selected   
          </h3>
        <p>A range of frameworks are reviewed and assessed for compliance with procurement regulations, ease of use, suitability and value for money. Feedback from schools is also considered when selecting frameworks.</p>
        <p>The approved list is continually being reviewed and added to.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          When to get at least 3 quotes from suppliers
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
       <p class="govuk-body">Buy this way if:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>you cannot get what you need through a framework agreement</li>
              <li>what you are buying is low to medium value</li>
              </ul>
            <p class="govuk-body">Check your school’s procurement rules to see what they class as low to medium value. We generally say:</p>
              <ul class="govuk-list govuk-list--bullet">  
              <li>low is under £10,000</li>
              <li>medium is £10,000 to £40,000</li>
            </ul>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          When to advertise a contract and run a buying process
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
        <p class="govuk-body">You must run your own buying process, inviting suppliers to submit bids if:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>you cannot get what you need through a framework agreement</li>
                  <li>you are buying high-value things</li>
                  </ul>
                <p class="govuk-body">Your school’s procurement rules will set what is classed as high. We generally say high is over £40,000.
                </p>
    
                <p class="govuk-body">However, if what you are buying is over £213,477 you may have to run a PCR compliant buying process.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          When to run a PCR compliant buying process
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class="govuk-body">You need to run this kind of process if:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>you cannot get what you need through one of our recommended deals for schools or a framework agreement</li>
                  <li>you are buying something over the PCR procurement thresholds</li>
                  </ul>
                <p class="govuk-body">The thresholds are:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>goods – £213,477</li>
                    <li>works – £5,336,937</li>
                    <li>most services – £213,477</li>
                    </ul>
    
                <p class="govuk-body">Some services for education, health and care are covered by the ‘light touch regime’.</p>
                <p class="govuk-body">The threshold for these is £663,540.</p>
                <p class="govuk-body">Check the list of all the services covered by the light touch regime in the legislation.</p>
                  <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        We recommend that you get legal advice if what you are buying is over, or near to, the thresholds.
                      </strong>
                    </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
{% endblock %}
