{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "includes/_faf-inset-top.html" %}
    <span class="govuk-caption-l">Your recommendation</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3" id="resulttitle">DFE furniture</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Department for Education (DFE) framework.</p> 
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-markdown">
      <h2 class="govuk-heading-m" id="what-it-offers">What it offers</h2>
      <p>Supply, installation and delivery of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>loose furniture</li>
        <li>fitted furniture</li>
        <li>bleacher seating</li>
      </ul>
      <h2 class="govuk-heading-m" id="benefits">Benefits</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>help with running mini-competitions</li>
        <li>select a supplier for projects less than £2,000 (this is called a direct award)</li>
        <li>short product list of most common items </li>
        <li>competitive prices</li>
        <li>committed to identifying modern slavery risks within the supply chain</li>
        <li>committed to continuously improving the environmental footprint</li>
        <li>suppliers will utilise their skills and experience to add social value to schools</li>
      </ul>
    </div>

    <p class="govuk-body">All frameworks also offer:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>compliance with The Official Journal of the European Union (OJEU) principles and regulations</li>
      <li>a list of checked suppliers</li>
      <li>pre-agreed terms and conditions</li>
    </ul>

    <form>
    {{ govukRadios({
      name: "where-do-you-live",
      fieldset: {
        legend: {
          text: "Would you like help with this framework from the DfE?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes~../../support-faf/start",
          text: "Yes, I'd like help from DfE to use this framework"
        },
        {
          value: "no~https://www.gov.uk/guidance/buy-school-furniture",
          text: "No, I'd prefer to use this framework on my own"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    </form>

    {% include "../../includes/_previous-answers.html" %}
  </div>
</div>

{% endblock %}