{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/_faf-inset-top.html" %}

    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What services are you looking for in ICT?</h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-services" name="sub-category" type="radio" value="Cloud~ict/cloud">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-services">Cloud</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-services-2" name="sub-category" type="radio" value="Cyber security~ict/cyber-security">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-services-2">Cyber security</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-services-3" name="sub-category" type="radio" value="End-to-end ICT solutions~ict/end-to-end-ict">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-services-3">End-to-end ICT solutions</label>     
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-services-4" name="sub-category" type="radio" value="Management information systems (MIS)~ict/mis">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-services-4">Management information systems (MIS) </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-services-5" name="sub-category" type="radio" value="Printers, copiers and multifunctional devices (MFDs)~ict/mfd">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-services-5">Printers, copiers and multifunctional devices (MFDs)</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-services-6" name="sub-category" type="radio" value="Telecoms and broadband~ict/telecoms-broadband">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-services-6">Telecoms and broadband </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    {% include "../../includes/_previous-answers.html" %}

  </div>
</div>
{% endblock %}