{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% set title = "Do you have any access needs that we need to be aware of when we contact you?" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <span class="govuk-caption-l">Accessibility</span>
     
          

        {% set phoneHtml %}
        {{ govukTextarea({
          id: "access-needs",
          name: "access-needs",
          type: "tel",
          autocomplete: "details",
          classes: "govuk-!-textarea",
          rows: "3",
          label: {
            text: "Tell us about your access needs"
          },
          hint: {
            text: "For example, I have difficulty hearing so I cannot do video calls"
          }
        }) }}
        {% endset -%}
        
        
        
        {{ govukRadios({
          idPrefix: "access-details",
          name: "access-details",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We’ll contact you by email first. If we need more information we’ll arrange a video call with you later. Let us know if either of these need to be made accessible to you and how you’d like us to do that."
          },
          items: [
            
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
