{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/triage/do-you-want-help-with-the-whole-procurement" method="post">

      <span class="govuk-caption-l">About your procurement</span>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="account-number">
            Approximately how much will the school be spending on this procurement in total?
          </label>
        </h1>
        <div class="govuk-hint" id="framework-support-form-procurement-amount-hint">  <p class="govuk-hint">This is the approximate amount you'll be spending over the lifetime of the contract. Use the value of a previous or existing contract if you're unsure.</p>
          <p class="govuk-hint">We only use this value as a guide to understand your procurement better. We know it can change.</p>
        </div>
        <div class="govuk-input__wrapper"><span class="govuk-input__prefix" aria-hidden="true">£</span><input id="framework-support-form-procurement-amount-field" class="govuk-input govuk-input--width-5" aria-describedby="framework-support-form-procurement-amount-hint" type="text" name="framework_support_form[procurement_amount]"></div>
      </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
