{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% block pageTitle %}
Approximately how much will the school be spending on this procurement in total? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/triage/do-you-want-help-with-the-whole-procurement" method="post">

      <span class="govuk-caption-l">About your procurement</span>

      {{ govukInput({
        id: "procurement-cost",
        name: "procurement-cost",
        label: {
          text: "Approximately how much will the school be spending on this procurement in total?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          html: '<p class="govuk-body">This is the approximate amount you will be spending over the lifetime of the contract. Use the value of a previous or existing contract if you are unsure.</p>
          <p class="govuk-body">We only use this as a guide to understand the procurement better. We know it can change.</p>'
      },
        
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
