{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Are these the schools you're buying for? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form class="form" method="post">
        <span class="govuk-caption-l">About your school</span>
       
        {{ govukTable({
          id: “selected-schools”,
          name: "selected-schools",
          caption: "Are these the schools you're buying for? ",
          captionClasses: "govuk-table__caption--l",
          firstCellIsHeader: true,
          head: [
            {
              text: "School name",
              classes: 'app-custom-class'
            },
            {
              text: "Address",
              classes: 'app-custom-class'
            },
            {
              text: "Phase of education",
              classes: 'app-custom-class'
            },
            {
              text: "Local authority",
              classes: 'app-custom-class'
            }
          ],
          rows: [
            [
              {
                text: "Bushbury Lane Academy"
              },
              {
                text: "Ripon Road, Bushbury Lane, Wolverhampton, West Midlands WV10 9TR"
              },
              {
                text: "Primary"
              },
              {
                text: "Wolverhampton"
              }
            ],
            [
            {
              text: "Veritas Primary Academy"
            },
            {
              text: "Weston Road, Stafford, Staffordshire, ST18 0FL"
            },
            {
              text: "Primary"
            },
            {
              text: "Staffordshire"
            }
            ],
            [
            {
              text: "Newhall Primary Academy"
            },
            {
              text: "Round House Way, Harlow, CM17 9SF"
            },
            {
              text: "Primary"
            },
            {
              text: "Essex"
            }
            ]
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "correct-academy",
          name: "correct-academy",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: hint
          },
          items: [       
          {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, I need to change my selection"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
