{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
Are your floorplans ready to upload? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="/triage/upload-your-documents" method="post">
<span class="govuk-caption-l">About your request</span>

{{ govukRadios({
  id: "floorplans",
  name: "floorplans",
  fieldset: {
    legend: {
      text: "Are your floorplans ready to upload?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "This will help the supplier to understand the scope of the work "
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "send-floorplans-later",
      text: "Yes I can send them later",
      hint: {
        text: "We will email you instructions on how to do this"
      }
      
    },
    {
      value: "No",
      text: "No"
    }
    ]
  }) }}   

 {{ govukButton({
    text: "Continue"
  }) }}

</form>

</div>
</div>

{% endblock %}
