{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/triage/upload-your-documents" method="post">

      <span class="govuk-caption-l">About your request</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="upload-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Can you upload floorplans for the schools?
            </h1>
          </legend>
          <div id="upload-hint" class="govuk-hint">
            This will help the supplier to understand the scope of the work 
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="upload" name="upload" type="radio" value="government-gateway" aria-describedby="upload-item-hint">
              <label class="govuk-label govuk-radios__label" for="upload">
                Yes
              </label>
              
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="upload-2" name="upload" type="radio" value="govuk-verify" aria-describedby="upload-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="upload-2">
                Yes I can send them later
              </label>
              
              <div id="upload-2-item-hint" class="govuk-hint govuk-radios__hint">
                We will email you instructions on how to do this
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="upload-3" name="upload" type="radio" value="govuk-verify" aria-describedby="upload-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="upload-3">
            No
          </label>
        
      
    </div>
            
          </div>
        </fieldset>
      </div>
          

 {{ govukButton({
    text: "Continue"
  }) }}

</form>

</div>
</div>

{% endblock %}
