{% extends "layouts/main.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your request</h1>

      <h2 class="govuk-heading-m">About your school</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name and address"
            },
            value: {
              html: "	Anytown High School,<br>Anytown Road, Anytown,<br>London,W2 4TH"
            },
            actions: {
              items: [
                {
                  href: "/triage/check-school",
                  text: "Change",
                  visuallyHiddenText: "your school"
                
                }
              ]
            }
          }
        ]
      }) }}
     
      <h2 class="govuk-heading-m">About you</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Your contact details"
            },
            value: {
              html: "Test User<br>admin@school.com<br>02071235456"
            },
            actions: {
              items: [
                {
                  href: "/triage/check-details",
                  text: "Change",
                  visuallyHiddenText: "about you"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">About your goods or service</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Type of goods or service"
            },
            value: {
              text: "Cleaning services"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "about your goods or service"
                }
                ]
              }
            }
          ]
        }) }}

      <h2 class="govuk-heading-m">About your procurement</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "First year budget amount"
            },
            value: {
              text: "£50,000"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "about your procurement"
                }
              ]
            }
          },
          {
            key: {
              text: "Total procurement amount"
            },
            value: {
              text: "£150,000"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "Help with whole procurement"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "help with whole procurement"
                }
              ]
            }
          },
          {
            key: {
              text: "Contract length"
            },
            value: {
              text: "3 years"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contract length"
                }
                ]
              }
            },
            {
              key: {
                text: "Contract start date"
              },
              value: {
                text: "01/02/2024"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contract start date"
                  }
                  ]
                }
              },
              {
                key: {
                  text: "Contract end date"
                },
                value: {
                  text: "01/02/2027"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "contract end date"
                   
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">About your current supplier</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Current supplier"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "current supplier"
                }
              ]
            }
          },
          {
            key: {
              text: "Current supplier invited to bid"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "current supplier invited to bid"
                }
              ]
            }
          },
          {
            key: {
              text: "Current supplier end date"
            },
            value: {
              text: "02/02/2024"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "current supplier end date"
                }
              ]
            }
          },
          {
            key: {
              text: "Notice period served"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "notice period served"
                }
                ]
              }
            },
            {
              key: {
                text: "Notice period end date"
              },
              value: {
                text: "02/02/2024"
              },
              actions: {
                items: [
                  {

                
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">About your request</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Documents"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "documents"
                }
              ]
            }
          },
          {
            key: {
              text: "Documents attached"
            },
            value: {
              text: "3"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "documents attached"
                }
              ]
            }
          },
          {
            key: {
              text: "Any other details"
            },
            value: {
              text: "I want help on the best way to buy compliantly."
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "any other details"
              
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Accessibility</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Access needs"
            },
            value: {
              text: "I have a hearing aid, so you'll need to speak up in a call."
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "access needs"
        
                }
                ]
              }
            }
          ]
        }) }}

      <h2 class="govuk-heading-m">Now send your request</h2>

      <p class="govuk-body">Once you send this request, we will review it and get in touch within 2 working days.</p>

      <form action="/triage/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Send your request"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
