{% extends "layouts/main.html" %}

{% block pageTitle %}
Is this your contact information? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About you</span>

      <h1 class="govuk-heading-l">
        Is this your contact information?
      </h1>

      <form class="form" action="/triage/choose-school" method="post">

        <p>If these details are not correct, you can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>log in with the correct account, or</li>
          <li><a href="https://pp-profile.signin.education.gov.uk/edit-details">amend your DfE Sign-in account details</a></li>
        </ul>
      
  
<dl class="govuk-summary-list">
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Test User
        </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          admin@school.com
        </dd>
        
      </div>
  
</dl>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
   
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Yes, these are my details
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          No, go back and login with with the correct account
        </label>
      </div>

    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
