{% extends "layouts/main.html" %}
{% set title = "Do you have a DfE Sign-in account linked to the school that your request is about?" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <form action="" method="post">

      {{ govukRadios({
        idPrefix: "signin",
        name: "signin",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [       
        {
            value: "dsi",
            text: "Yes, use my DfE Sign-in"
          },
          {
            value: "nodsi",
            text: "No, continue without a DfE Sign-in account"
          }
          ]
        }) }}
        
        <p><a href="">Create a new DfE Sign-in account</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
