{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your request has been sent",
        html: "We have sent a confirmation email to: <strong>admin@school.com</strong>"
      }) }}


      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        Our procurement specialists will review your request and any documents if you’ve included them. We’ll be in touch within 2 working days of your request.
      </p>

      <p>
        If you’ve chosen to email documents to us later, there’ll be instructions in your confirmation email telling you how to do this and where to send it to.
      </p>
      <p>
        Please check that you’ve received our confirmation email. If you do not see it in 10 minutes, check your junk folder.
      </p>
      <p>
        You’ll need to submit your request again if you do not receive an email from us, because this is how we’ll be contacting you. </p>
       
        <h2 class="govuk-heading-m">
          What to do next
        </h2>
  

<p class="govuk-body">Read our guidance about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> <a href="https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools" class="govuk-link govuk-link--no-visited-state">compliant procurement processes</a></li>
  <li> <a href="https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school" class="govuk-link govuk-link--no-visited-state">framework agreements and our framework tool</a></li>
</ul>
<p class="govuk-body">
  <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
</p>

    </div>
  </div>

{% endblock %}
