{% extends "layouts/main.html" %}
{% set title = "Do you have a DfE Sign-in account linked to the school that your request is about?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/triage/start"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About your school</span>

      <form action="" method="post">

      {{ govukRadios({
        idPrefix: "DfE-Sign-in-account",
        name: "DfE-Sign-in-account",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [       
        {
            value: "dsi",
            text: "Yes, use my DfE Sign-in"
          },
          {
            value: "nodsi",
            text: "No, continue without a DfE Sign-in account"
          }
          ]
        }) }}
        
        <p><a href="">Create a new DfE Sign-in account</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
