{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
Department for Education Sign-in – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="/triage/check-details" method="post">

  {% call govukFieldset({
   
    legend: {
      text: "Department for Education Sign-in",
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}
  
    {{ govukInput({
    
      label: {
        text: 'Email address'
      },
      id: "email-address",
      name: "email-address",
      autocomplete: "email-address",
      classes: "govuk-!-width-two-thirds"
    }) }}
  
    {{ govukInput({
      label: {
        text: 'Password'
      },
      id: "password",
      name: "password",
      autocomplete: "password",
      classes: "govuk-!-width-two-thirds"
    }) }}
  
  {% endcall %}

  {{ govukButton({
    text: "Sign-in"
  }) }}

      </form>

    </div>
  </div>

{% endblock %}
