{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you want help with the whole procurement? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form class="form" action="/triage/how-long-do-you-want-the-contract-for" method="post">
        <span class="govuk-caption-l">About your procurement</span>


{{ govukRadios({
  name: "help-whole-procurement",
  fieldset: {
    legend: {
      text: "Do you want help with the whole procurement?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    
    {
      value: "No",
      text: "No"
    }
    ]
  }) }}   

 {{ govukButton({
    text: "Continue"
  }) }}

</form>

</div>
</div>

{% endblock %}

