{% extends "layouts/main.html" %}

{% block pageTitle %}
How long do you want the contract for? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="/triage/when-do-you-want-the-contract-to-start" method="post">
  <span class="govuk-caption-l">About your procurement</span>


{{ govukRadios({
  id: "contract-length",
  name: "contract-length",
  fieldset: {
    legend: {
      text: "How long do you want the contract for?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "We do not recommend contracts that are shorter than 1 year."
  },
  
  items: [
    {
      value: "one-year",
      text: "1 year"
    },
    {
      value: "two-years",
      text: "2 years"
    },
    {
        value: "three-years",
        text: "3 years"
    },
    {
        value: "four-years",
        text: "4 years"
    },
    {
        value: "five-years",
        text: "5 years"
    },
    {
        value: "not-sure",
        text: "Not sure"
    }
    ]
  }) }}   

 {{ govukButton({
    text: "Continue"
  }) }}

</form>

</div>
</div>

{% endblock %}

