{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  
        <div id="wrapper" class="govuk-width-container">
        
          <main id="content" class="finder-frontend-content">
            <div class="finder-frontend">
        
            <div class="govuk-width-container">

          
       
        </div>
        
        
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <form class="form" action="/are-these-the-schools-youre-buying-for" method="post">
                <span class="govuk-caption-l">About your school</span>
              <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-4">Which schools in your academy trust or federation will be involved in this procurement? <span class="govuk-visually-hidden">all content</span>
        </h1>
        
        </div>
        
                </div>
                <div id="js-spelling-suggestions" class="spelling-suggestions" data-analytics-ecommerce="" data-ecommerce-start-index="1" data-list-title="Search spelling suggestions" data-search-query="news" data-track-click-label="Spelling suggestions">
                  
                </div>
        
            </div>
        
        
        
          </div>
        </div>
        
        
          <div class="govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <div class="filter-form">
            
       
        
        
            
        
            <div id="facet-wrapper" data-module="mobile-filters-modal" class="facets" role="search" aria-label="Search filters" data-mobile-filters-modal-module-started="true">
              <div class="facets__box">
                
                <div class="facets__content">
                      <div class="app-c-expander" data-module="expander" data-open-on-load="false" data-expander-module-started="true">
            
            <div class="app-c-expander__content js-content" id="expander-content-43137d5a">
              
            <div class="js-taxonomy-select">
                <div class="govuk-form-group gem-c-select">
              
        
        
        
            
       
        </div>
              <div class="js-required govuk-form-group gem-c-select" style="display: block;">
                  <div class="govuk-form-group gem-c-select">
          
        </div>
              </div>
            </div>
        
            </div>
        </div>
       
        
          
        
        <div class="app-c-option-select js-collapsible js-closed" data-module="option-select" data-closed-on-load="true" data-input-aria-controls="js-search-results-info" data-option-select-module-started="true">
          
        
          <div role="group" aria-labelledby="option-select-title-content-type" class="app-c-option-select__container js-options-container" id="content_purpose_supergroup" tabindex="-1" style="height: 235.333px;">
            <div class="app-c-option-select__container-inner js-auto-height-inner">
              
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
               Filter by local authority
              </h1>
              <br>
              <div id="countries-hint" class="govuk-hint">
                East
              </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Essex
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div id="countries-hint" class="govuk-hint">
               Midlands
              </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Birmingham
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                  Staffordshire
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                  Telford and Wrekin
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                  Warwickshire
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                  Wolverhampton
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div id="countries-hint" class="govuk-hint">
              South
             </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Barking and Dagenham
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                  Barnet
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                  Barnet
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                  Buckinghamshire
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                  Croydon
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                  Havering
                </label>
              </div>
              <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                Hertfordshire
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                Hounslow
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                Lewisham
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                Kent
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                Reading
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                Waltham Forest
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                West Sussex
              </label>
            </div>
            </div>
          </fieldset>
        </div>
            </div>
        </div>
        </div>
        
        
        
            
        <div id="topical_events">
        
        
            <input type="hidden" name="topical_events" id="topical_events_0" autocomplete="off">
        </div>
        
                  <div class="facets__tags-block js-mobile-facet-tag-block" data-module="remove-filter" data-remove-filter-module-started="true">
                      
        
          <div class="facet-tags">
          </div>
        
                  </div>
                  
                </div>
                <div class="facets__footer">
                
              </div>
              </div>
            </div>
        
          
        </div>
        
              </div>
        
              <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results" role="region" aria-label="Search search results" data-analytics-ecommerce="" data-ga4-ecommerce="" data-ecommerce-start-index="1" data-list-title="Search" data-search-query="news" data-ecommerce-variant="Relevance" data-module="gem-track-click" data-gem-track-click-module-started="true">
                <div id="js-search-results-info" data-module="remove-filter" class="result-info " data-remove-filter-module-started="true">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                      <div class="result-info__header">
                        
                      </div>
                    </div>
        
                    
                  </div>
                
        
                <table class="govuk-table">
                  <p class="govuk-body">0 of 60 schools or colleges selected from REACH2 ACADEMY TRUST</p>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      
                      <th scope="col" class="govuk-table__header app-custom-class">School name</th>
                      <th scope="col" class="govuk-table__header app-custom-class">Address</th>
                      <th scope="col" class="govuk-table__header app-custom-class">Phase of education</th>
                      <th scope="col" class="govuk-table__header app-custom-class">Local authority</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Aerodrome Primary Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Goodwin Road
                        <br>Croydon, Surrey 
                       <br>CR0 4EJ
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Croydon</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Beccles Primary Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Ellough Road
                        Suffolk
                        NR34 7AB
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Suffolk</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Brampton Primary Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Brampton Road
                        Bexleyheath
                        DA7 4SL
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Kent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Broadmead Primary School
                          </label>
                        </div>
                      <td class="govuk-table__cell">366 Sydenham Road
                        Croydon
                        Surrey
                        CR0 2EA
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Croydon</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Burrsville Infant Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Craigfield Avenue
                        Clacton-on-Sea
                        Essex
                        CO15 4HR
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Essex</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Bushbury Lane Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Ripon Road
                        Bushbury Lane
                        Wolverhampton
                        West Midlands
                        WV10 9TR
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Wolverhampton</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Camulos Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">GWhitmore Drive
                        Via Urbis Romanea
                        Colchester
                        Essex
                        CO4 6AL
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Essex</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Castle Hill Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Dunley Drive
                        New Addington
                        Croydon
                        Surrey
                        CR0 0RJ
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Croydon</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Chapel End Junior Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Roberts Road
                        Walthamstow
                        London
                        E17 4LS
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Waltham Forest</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Chigwell Primary Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Mandir Lane
                        Chigwell
                        IG7 6ED
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Essex</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Civitas Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">E90a Great Knollys Street
                        Reading
                        Berkshire
                        RG1 7HL
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Reading</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                          <label class="govuk-label govuk-checkboxes__label" for="countries">
                            Concordia Academy
                          </label>
                        </div>
                      <td class="govuk-table__cell">Union Road
                        Romford
                        Essex
                        RM7 0HG
                      <td class="govuk-table__cell">Primary</td>
                      <td class="govuk-table__cell">Essex</td>
                    </tr>
                  </tbody>
                </table>
        
                <div id="js-pagination">
                    
          <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
        
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="/search/all?keywords=news&amp;order=relevance&amp;page=2" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/search/all?keywords=news&amp;order=relevance&amp;page=2" data-track-dimension="next" data-track-dimension-index="29">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">Next page</span>
                    <span class="govuk-visually-hidden">:</span>
                    <span class="govuk-pagination__link-label">2 of 744</span>
                </a>
              </div>
          </nav>
        
                </div>
                <div class="js-live-search-fallback button__wrapper">
            
        
        
                  <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Continue</button>
                
                
                  </div>
        
                
              </div>
            </div>
          </div>
        </form>
        
            </div>
          </main>
        
            </div>
        

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
