{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
What type of goods or service do you need? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="what-do-you-need-in-cleaning" method="post">
        <span class="govuk-caption-l">About your goods or service</span>


{{ govukRadios({
  name: "What type of goods or service do you need?",
  fieldset: {
    legend: {
      text: "What type of goods or service do you need?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "audits",
      text: "Audits"
    },
  
  {
    value: "buildings-and-site-maintenance",
    text: "Buildings and site maintenance"
  },
    {
      value: "cleaning",
      text: "Cleaning"
    },
    {
      value: "consultancy",
      text: "Consultancy"
    },
    {
      value: "energy-and-utilities",
      text: "Energy and utilities"
    },
    {
      value: "financial-services",
      text: "Financial services"
    },
    {
      value: "food-and-catering",
      text: "Food and catering"
        },
        {
          value: "furniture",
          text: "Furniture"
        },
        {
          value: "health-and-safety",
          text: "Health and safety"
        },
        {
          value: "human-resources-and-payroll",
          text: "Human resources and payroll"
        },
        {
            value: "ict",
            text: "ICT"
          },
          {
            value: "leasing",
            text: "Leasing"
          },
          {
            value: "legal-services",
            text: "Legal services"
          },
          {
            value: "school-and-education-suppliess",
            text: "School and education supplies"
          },
          {
            value: "transport",
            text: "Transport"
          },
          {
            value: "Im-buying-more-than-one-thing",
            text: "I'm buying more than one thing"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
