{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
What do you need in cleaning? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="whats-your-current-budget-for-this-procurement" method="post">
        <span class="govuk-caption-l">About your goods or service</span>


{{ govukRadios({
  name: "What do you need in cleaning?",
  fieldset: {
    legend: {
      text: "What do you need in cleaning?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "cleaning-products",
      text: "Cleaning products"
    },
    {
      value: "cleaning-services",
      text: "Cleaning services"
    },
    {
      value: "personal-protection-equipment",
      text: "Personal protection equipment"
    },
    {
      value: "other",
      text: "Other"
    
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
