{% extends "layouts/main.html" %}
{% set title = "What type of organisation are you buying for?" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% set html %}
          <p>If you're buying together informally as a group, choose a 'single school' to represent the group.</p>
        {% endset %}

        {{ govukRadios({
          idPrefix: "type-organisation",
          name: "type-organisation",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: html
          },
          items: [       
          {
              value: "single",
              text: "A single school",
              hint: {
                text: "such as a local authority maintained school or an academy in a single or multi-academy trust"
              }
            },
            {
              value: "academy",
              text: "An academy trust or federation"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
