{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% block pageTitle %}
Do you know when your current contract ends? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="/triage/is-there-a-notice-period" method="post">
  <span class="govuk-caption-l">About your current supplier</span>


{% set yesHtml %}
{{ govukDateInput({
  id: "contract-end-date",
  namePrefix: "contract-end-date",
  fieldset: {
    legend: {
      text: "Enter the current contract end date"
    }
  },
  hint: {
    text: "For example 31 8 2025"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "contract-start-date",
  fieldset: {
    legend: {
      text: "Do you know when your current contract ends?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: yesHtml
      }
    },
   
    {
      value: "no",
      text: "No",
      conditional: {
        html: noHtml
      }
    }
  ]
}) }}


 {{ govukButton({
    text: "Continue"
  }) }}

</form>

</div>
</div>

{% endblock %}

