{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}



{% block pageTitle %}
Do you have a current supplier? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="/triage/do-you-want-your-current-supplier-to-bid-for-this-new-contract" method="post">
  <span class="govuk-caption-l">About your current supplier</span>


  {% set yesHtml %}
  {{ govukInput({
    id: "current-supplier",
    name: "current-supplier",
    type: "Yes",
    autocomplete: "yes",
    spellcheck: false,
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Enter the name of your current supplier"
    
    }
  }) }}
  {% endset -%}

{{ govukRadios({
  name: "current-supplier",
  fieldset: {
    legend: {
      text:  "Do you have a current supplier?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: yesHtml
      }
    },
   
    {
      value: "no",
      text: "No",
      conditional: {
        html: noHtml
      }
    }
  ]
}) }}


 {{ govukButton({
    text: "Continue"
  }) }}

</form>

</div>
</div>

{% endblock %}

