{% extends "layouts/main.html" %}

{% block pageTitle %}
Will you also need a maintenance contract? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">
        <span class="govuk-caption-l">About your procurement</span>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will you also need a maintenance contract? 
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="will-you-also-need-a-maintenance-contract" name="will-you-also-need-a-maintenance-contract" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="will-you-also-need-a-maintenance-contract">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="will-you-also-need-a-maintenance-contract2" name="will-you-also-need-a-maintenance-contract" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="will-you-also-need-a-maintenance-contract-2">
                  No
                </label>
            </div>
          </fieldset>
          
        </div>
       {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
