{% extends "layouts/faf.html" %}
{% set title = "Matching frameworks" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/faf/start"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <form action="" method="post">#}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ title }}</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, there are multiple approved frameworks to choose from.</p>
        {% for framework in data['framework'] %}
          <dl class="card">
            <a href="/faf/framework/{{framework['id']}}"></a>
            <div class="card__header">
              <dt class="govuk-visually-hidden">Framework name:</dt>
              <dd class="card__title">{{ framework['title']}}</dd>
            </div>
            <div class="card__content">
              <dt>Provider:</dt>
              <dd>{{framework['framework'] }}</dd>
            </div>
          </dl>
        {% endfor %}

        {% include "shared/_previous-answers.html" %}

    </div>
  </div>
{% endblock %}
