{% extends "layouts/faf.html" %}
{% set title = "What goods do you need?" %}
{#
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: data['prevPage']
  }) }}
{% endblock %}
#}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% include "shared/_faf-inset-top.html" %}

        {{ data['radio-selected'] }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              {% for radio in data['radio-options'] %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="radio-selected" type="radio" value="{{ radio.text }}">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    {{ radio.text }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        {{ govukButton({
              text: "Continue"
        }) }}
    
        {# {% include "../includes/_previous-answers.html" %} #}
      
      </form>
    </div>
  </div>
{% endblock %}
