{% extends "layouts/faf.html" %}
{% set title = "How frameworks are selected" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-l">{{ title }}</h1>
        {{ govukInsetText({
          html: "The DfE <a href='../support/start'>Get help buying for schools</a> will help you prepare and research before buying to help you get the best deal and save money."
        }) }}
        <p>The Schools Commercial Team (SCT) within DfE reviews a range of frameworks. These frameworks are assessed for compliance with procurement regulations, ease of use, suitability and value for money. Feedback from schools is also considered when selecting frameworks.</p>
        <p>SCT continues to review and add to the list of recommended frameworks.</p>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
