{% extends "layouts/faf.html" %}
{% set title = "What goods are you looking for in ICT?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/faf/start"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {{ govukRadios({
          name: "ict",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "audio-visual",
              text: "Audio and visual"
            },
            {
              value: "hardware",
              text: "Hardware"
            },
            {
              value: "networking",
              text: "Networking"
            },
            {
              value: "mfd",
              text: "Printers, copiers and multi-functional devices (MFDs)"
            },
            {
              value: "software",
              text: "Software"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        {% include "shared/_previous-answers.html" %}
      </form>
    </div>
  </div>
{% endblock %}
