{% extends "layouts/faf.html" %}
{% set title = "What services are you looking for in energy and utilities?" %}

{#
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/faf/energy-update"
  }) }}
{% endblock %}
#}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {{ govukRadios({
          name: "energy",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "electricity",
              text: "Electricity"
            },
            {
              value: "gas",
              text: "Gas"
            },
            {
              value: "liquid-fuels",
              text: "Liquid fuel"
            },
            {
              value: "water-drains-sewarage",
              text: "Water, drains and sewerage"
            }
          ]
        }) }}
   
        {{ govukButton({
          text: "Continue"
        }) }}

        {% include "shared/_previous-answers.html" %}
      </form>
    </div>
  </div>
{% endblock %}
