{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/_faf-inset-top.html" %}
    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What are you buying?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-type" name="buying" type="radio" value="Goods~goods?category=&sub-category=&facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-type">Goods</label>       
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-type-2" name="buying" type="radio" value="Services~services?category=&sub-category=&facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-type-2">Services</label>       
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}

