{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/_faf-inset-top.html" %}
    
    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What goods do you need?</h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-what" name="category" type="radio" value="Air cleaning units~goods/air-cleaning?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-what">Air cleaning units</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-what" name="category" type="radio" value="Books, stationery and education supplies~goods/books-media?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-what">Books, stationery and education supplies</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-what-2" name="category" type="radio" value="Furniture~goods/furniture?sub-category=&facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-what-2">Furniture</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-what-3" name="category" type="radio" value="ICT~goods/ict?facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-what-3">ICT</label>    
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-what-4" name="category" type="radio" value="Personal protective equipment (PPE) and cleaning~goods/ppe?sub-category=&facilities=&gas-price=&meter=&support-required=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-what-4">Personal protective equipment (PPE) and cleaning</label>     
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    {% include "../includes/_previous-answers.html" %}
    
  </div>
</div>

{% endblock %}
