{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">After you’ve used the service</h1>
        {{ govukInsetText({
          html: "The DfE <a href=''>Get help buying for schools</a> will help you prepare and research before buying to help you get the best deal and save money."
        }) }}
        <p class="govuk-body">When you’ve answered the relevant questions, you’ll be given the most suitable framework based on your answers. This will point you to the providers’ website where you can get quotes from suppliers on the framework.</p>
        <a href="find" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Continue</a>
    </div>
  </div>
{% endblock %}