{% extends "layouts/main.html" %}
{% set title = "What are you buying?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/specify/name-your-specification"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method="post">
      <h1 class="govuk-heading-xl" style="margin-bottom:24px">
        {% if data['isEdited'] == 'true' %}
          {% set specStatus = "Edit" %}
          {% set specStatusLong = "editing" %}
        {% else %}
          {% set specStatus = "Create" %}
          {% set specStatusLong = "creating" %}
        {% endif %}
        {{ specStatus }} your specification to procure {{ data['category-type'] or 'a catering service' }} for your school
      </h1>
      <h2 class="govuk-caption-l">You are {{ specStatusLong }}: {{ data['specification-name'] or 'New Specification 1234' }}</h2>

      <div class="govuk-inset-text">
        <a href="../support/start">Request free help and support with your specification</a>
      </div>

        {% if data.specification['mission']['section-completed'] %}
          {% set missionHref = '/specify/question/01-school-mission-statement' %}
          {% set missionStatus = data.specification['mission']['section-completed'] %}
          {% if data.specification['mission']['section-completed'] == 'completed' %}
            {% set missionTagColour = 'solid' %}
          {% endif %}
        {% endif %}

        {{ appTaskList({
          sections: [{
            titleText: "Catering procurement objectives",
            items: [{
              text: "Add your school's mission statement",
              href: missionHref or '/specify/question/01-school-mission-statement',
              tag: {
                colour: missionTagColour or 'grey',
                text: missionStatus or 'Not started yet'
              }
            }, {
              text: "Share whether your school has a food policy",
              href: yourOrganisationHref or '/report/your-organisation/name',
              tag: {
                colour: yourOrganisationTagColour or 'grey',
                text: yourOrganisationStatus or 'Not started yet'
              }
            },
            {
              text: "Describe your goals for this procurement",
              href: yourOrganisationHref or '/report/your-organisation/name',
              tag: {
                colour: yourOrganisationTagColour or 'grey',
                text: yourOrganisationStatus or 'Not started yet'
              }
            }]
          }, {
            titleText: "Describe your goals for this procurement",
            items: [{
              text: "Share whether you have an environmental sustainability policy",
              href: teacherHref or '/report/teacher/name',
              tag: {
                colour: teacherTagColour or 'grey',
                text: teacherStatus or 'Not started yet'
              }
            }, {
              text: "Specify if you need any modern slavery assurances",
              href: teacherContactDetailsHref or '/report/teacher-contact-details/email',
              tag: {
                colour: teacherContactDetailsTagColour or 'grey',
                text: teacherContactDetailsStatus or 'Not started yet'
              }
            }, {
              text: "Add any other social value requirements",
              href: teacherRoleHref or '/report/teacher-role/start-date',
              tag: {
                colour: teacherRoleTagColour or 'grey',
                text: teacherRoleStatus or 'Not started yet'
              }
            }]
          },
          {
            titleText: "Contract management",
            items: [{
              text: "Describe your requirements for service and contract review",
              href: teacherHref or '/report/teacher/name',
              tag: {
                colour: teacherTagColour or 'grey',
                text: teacherStatus or 'Not started yet'
              }
            }, {
              text: "Specify whether you'll pay for unsold meals",
              href: teacherContactDetailsHref or '/report/teacher-contact-details/email',
              tag: {
                colour: teacherContactDetailsTagColour or 'grey',
                text: teacherContactDetailsStatus or 'Not started yet'
              }
            }, {
              text: "Specify any overheads the supplier will pay for or manage",
              href: teacherRoleHref or '/report/teacher-role/start-date',
              tag: {
                colour: teacherRoleTagColour or 'grey',
                text: teacherRoleStatus or 'Not started yet'
              }
            },
            {
              text: "Add details and requirements for staff",
              href: teacherRoleHref or '/report/teacher-role/start-date',
              tag: {
                colour: teacherRoleTagColour or 'grey',
                text: teacherRoleStatus or 'Not started yet'
              }
            }]
          },
          {
            titleText: "Service parameters",
            items: [{
              text: "Add the key service dates",
              href: teacherHref or '/report/teacher/name',
              tag: {
                colour: teacherTagColour or 'grey',
                text: teacherStatus or 'Not started yet'
              }
            }, {
              text: "Add pupil and staff numbers",
              href: teacherContactDetailsHref or '/report/teacher-contact-details/email',
              tag: {
                colour: teacherContactDetailsTagColour or 'grey',
                text: teacherContactDetailsStatus or 'Not started yet'
              }
            }, {
              text: "Give details about your everyday catering services",
              href: teacherContactDetailsHref or '/report/teacher-contact-details/email',
              tag: {
                colour: teacherContactDetailsTagColour or 'grey',
                text: teacherContactDetailsStatus or 'Not started yet'
              }
            }, {
              text: "Specify which occasional services you need",
              href: teacherRoleHref or '/report/teacher-role/start-date',
              tag: {
                colour: teacherRoleTagColour or 'grey',
                text: teacherRoleStatus or 'Not started yet'
              }
            }]
          },
          {
            titleText: "Menus and ordering",
            items: [{
              text: "Describe your requirements for the food served",
              href: allegationHref or '/report/allegation/allegation',
              tag: {
                colour: allegationTagColour or 'grey',
                text: allegationStatus or 'Not started yet'
              }
            }, {
              text: "Add details and requirements for pre-ordering",
              href: previousAllegationsHref or '/report/previous-misconduct/any-previous',
              tag: {
                colour: previousAllegationsTagColour or 'grey',
                text: previousAllegationsStatus or 'Not started yet'
              }
            }, {
              text: "Describe your payment systems",
              href: documentationHref or '/report/documentation/anything-to-upload',
              tag: {
                colour: documentationTagColour or 'grey',
                text: documentationStatus or 'Not started yet'
              }
            }]
          },
          {
            titleText: "Facilities",
            items: [{
              text: "Describe the kitchens and equipment available",
              href: allegationHref or '/report/allegation/allegation',
              tag: {
                colour: allegationTagColour or 'grey',
                text: allegationStatus or 'Not started yet'
              }
            }, {
              text: "Describe the dining areas",
              href: previousAllegationsHref or '/report/previous-misconduct/any-previous',
              tag: {
                colour: previousAllegationsTagColour or 'grey',
                text: previousAllegationsStatus or 'Not started yet'
              }
            }, {
              text: "Specify the supplier’s cleaning responsibilities",
              href: documentationHref or '/report/documentation/anything-to-upload',
              tag: {
                colour: documentationTagColour or 'grey',
                text: documentationStatus or 'Not started yet'
              }
            }]
          }]
        }) }}


        {{ govukButton({
          text: "View your specification"
        }) }}
      </form>      
    </div>
  </div>
{% endblock %}
