{% extends "layouts/main.html" %}
{% set title = "This specification has been deleted" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/specify/dashboard"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Specification"
            },
            value: {
              text: "Oxford primary spec 234567890"
            }
          },
          {
            key: {
              text: "Category"
            },
            value: {
              text: "Catering"
            }
          },
          {
            key: {
              text: "Date started"
            },
            value: {
              html: "21 June 2021"
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue to dashboard"
        }) }}
      </form>      
    </div>
  </div>
{% endblock %}
