{% extends "layouts/main.html" %}
{% set title = "Would you like to mark this specification as 'finished' after you download the document?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/specify/dashboard"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">        
        {% set html %}
          <p>You can still edit specifications that are marked as 'finished'. Marking it as being 'finished' will:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>change the status of the specification in the dashboard so that you can see which ones have been finished</li>
            <li>remove any references to the specification being 'incomplete' in your download</li>
          </ul>
        {% endset %}

        {{ govukRadios({
          idPrefix: "energy-request",
          name: "energy-request",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: html
          },
          items: [       
          {
              text: "Yes"
            },
            {
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>      
    </div>
  </div>
{% endblock %}

