{% extends "layouts/main.html" %}
{% set title = "Name your specification" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/specify/what-are-you-buying"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {{ govukInput({
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This will help you to find it if you need to come back to it later. Use a maximum of 30 characters."
          },
          id: "specification-name",
          name: "specification-name"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>      
    </div>
  </div>
{% endblock %}
