{% extends "layouts/main.html" %}
{% set title = "Next steps" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Dashboard",
        href: "dashboard"   
      },
      {
        text: "Next steps"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body-s">Last updated 11 January 2022</p>
      <p>Thank you for using this service to create a specification.</p>
      <p>You can now share your specification with suppliers as part of your invitation to tender (ITT).</p>
      <p>Consider buying from a framework recommended by DfE. This can be quicker and easier than running your own process. Each one has its own list of suppliers and has been assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>
      <p>Go directly to view and choose from a list of <a href="../find-a-framework/matching-frameworks">catering frameworks recommended by DfE</a> in the Find a framework tool.</p>
      <p>Or <a href="../gov/find-the-right-way-to-buy">read about frameworks and how to use one</a> if you haven't used one before.</p>
      <h2 class="govuk-heading-m">Other compliant procurement options</h2>
      <p>If you’re not able, or choose not to use a framework, make sure you follow a compliant process to continue with your procurement. Read about how to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools/buying-high-value-things-under-the-eu-procurement-threshold">buy high-value things <strong>under</strong> the procurement threshold</a> (over £40,000 but less than £189,330)</li>
        <li><a href="https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools/buying-things-that-are-over-the-eu-procurement-threshold">buy things <strong>over</strong> the procurement threshold</a> (over £189,330)</li>
        <li><a href="https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools/buying-low-to-medium-cost-things">buy low to medium cost things</a> (up to £40,000)</li>
      </ul>
    </div>
  </div>
{% endblock %}

