{% extends "layouts/main.html" %}
{% set title = "Create a specification to procure for your school" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-xl">{{title}}</h1>
        <p>Use this service to create a specification for either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a catering service, or</li>
          <li>multi-functional devices</li>
        </ul>
        <p>You’ll be able to download the specification that you create and share it with suppliers when you invite them to bid.</p>
        <p class="govuk-body">You can use this service if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>are procuring for a single school in England - either a local authority maintained school or an academy in a single or multi-academy trust</li>
          <li>are procuring a single contract</li>
        </ul>
        {{ govukButton({
          classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4",
          text: "Start",
          isStartButton: true
        }) }}
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">The service will guide you through what information to provide. Standard regulations and requirements that suppliers must comply with will be added automatically.</p>
        <p class="govuk-body">You can save your specification and come back to it later if you want.</p>
      </form>
    </div>
  </div>
{% endblock %}


