{% extends "layout.html" %}

{% block pageTitle %}
  Create a new specification
{% endblock %}

{% block header %}
  {% include "includes/logged-in-user.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: '<a href="../feedback/start">Get involved</a> in making the Get help buying for schools service better (opens in new tab)'
}) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Dashboard",
        href: "dashboard"
      },
      {
        text: "Create a specification",
        href: "create-specification"
      },
      {
        text: "View specification"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">Your specification <strong class="govuk-tag">
  completed
</strong></h1>

        <p>
          Help us improve this service by answering a 5 min survey.
            <a class="govuk-notification-banner__link" href="#">Give us your feedback</a>
        </p>

        <div class="govuk-inset-text">
          <a href="../support/start">Request free help and support with your specification</a>
        </div>
        <a class="govuk-button" href="">Download (.docx)</a>
        <article class="specification">

        <p>Once you have a completed specification, <a href="next-steps">see what the next steps are.</a> </p>
         <br>
          <section>
            <h2 class="govuk-heading-m">Objectives</h2>
            <h3 class="govuk-heading-s">Mission statement</h3>
            <ol></ol>        

            <h3 class="govuk-heading-s">School food policy</h3>
            <ol></ol>

            <h3 class="govuk-heading-s">Procurement goals</h3>
            <ol></ol>


            <h2 class="govuk-heading-m">Social Value</h2>
            <h3 class="govuk-heading-s">Environmental sustainability</h3>
            <ul class="govuk-list govuk-list--number">
               <li>
                 <p>The supplier must adhere to the Government Buying standards (GBS). The considerations include, but are not limited to:
                  </p><ul class="govuk-list govuk-list--bullet">
                    <li>The use of seasonal and ethically sourced produce</li> 
                    <li>Meeting of animal welfare standards</li>
                    <li>Use of reduced or recyclable packaging</li>
                    <li>The treatment of food waste</li>
                  </ul>
                <p></p>
            </li>
            <li><p>The supplier must not unduly waste gas, electricity, water, products or packaging.</p></li>
            </ul>

            <h3 class="govuk-heading-s">Modern slavery</h3>
                <ol class="govuk-list govuk-list--number">
                  <li>
                    <p>The supplier must consider the impacts on the supply chain of their sourcing or contracting activities that might contribute to increasing modern slavery risks, including factors such as:</p><p>
                    </p><ul class="govuk-list govuk-list--bullet">
                      <li>short lead times</li>
                      <li>late payments</li>
                      <li>demand for high flexibility, including last minute changes to orders</li>
                      <li>downward cost pressures</li>
                    </ul>
                  </li>       
                </ol>

            <h3 class="govuk-heading-s">Other social value</h3>  

            <h2 class="govuk-heading-m">Contract management</h2>
            <h3 class="govuk-heading-s">Service review</h3>
                <ol class="govuk-list govuk-list--number">
                  <li>
                    <p>The supplier must evidence clear policies for contract management, including contract review, performance monitoring and reporting, cost reporting, managing feedback from pupils, parents and staff, complaints management, and change management.</p>
                  </li>
                  <li>
                    <p>The school may carry out inspections, audits and random product sampling.</p>
                  </li>
                </ol>

             <h3 class="govuk-heading-s">Cost model</h3>

             <h3 class="govuk-heading-s">Operational overheads</h3>
               <ol class="govuk-list govuk-list--number">

              <li>
                <p>The supplier must arrange and cover the cost of any marketing activities. Effective marketing proposals, policies and techniques should be adopted and employed to:</p>
                  <p>
                    </p><ul class="govuk-list govuk-list--bullet">
                      <li>Increase the uptake of meals</li>
                      <li>Encourage a healthy approach to eating</li>
                      <li>Maximise the use of catering facilities</li>
                    </ul>
                  <p></p>
                <p>These should be discussed and agreed with the school before implementation. The activities should be reported on and monitored as part of contract management throughout the contract term.</p>
              </li>
              <li>
                <p>The supplier must arrange and cover the cost of any recruitment of catering staff. The supplier is also responsible for ensuring that all staff are aware of relevant policies, and comply with them at all times.</p>
                <p>The supplier must provide copies of its safeguarding and recruitment policies that set out and meet the required standards in accordance with Keeping Children Safe in Education 2016.</p>
              </li>
                <li><p>The supplier must arrange and cover the cost of staff uniforms and PPE equipment as required.</p></li>

           </ol>

           <h3 class="govuk-heading-s">Staff</h3>

            <h2 class="govuk-heading-m">Service Parameters</h2>

            <h3 class="govuk-heading-s">Service Dates</h3>

            <h3 class="govuk-heading-s">Pupil and staff numbers</h3>

            <h3 class="govuk-heading-s">Everyday services, times and customer numbers</h3>

            <h3 class="govuk-heading-s">Auxiliary services</h3>

          </section>
        </article>
        <article class="specification">
          <section>
            <h2 class="govuk-heading-m">Menus and Ordering</h2>
            <h3 class="govuk-heading-s">Food</h3>
            <ol class="govuk-list govuk-list--number">
              <li>
                <p>It will be the supplier's responsibility to ensure that all food served within the school day complies with both current and future government legislation and guidelines on the provision of healthy school meals.</p>
                <p>Healthy eating should be promoted to pupils wherever practical and desirable.</p>
                <p> It will be the supplier's responsibility to comply fully with the Department for Education's food and nutrient based standards, and to promote and comply with this policy throughout the contract term through effective menu planning.</p>
              </li>
              <li><p>The supplier must work with the school to provide safe and enjoyable meals for any pupils with allergies, intolerances or medical conditions such as diabetes. The supplier must ensure that the ingredients, preparation and handling of food for children with allergies and intolerances are completely allergen-free.</p></li>
              <li>
                <p>The supplier must track the 14 allergens used as ingredients in any food they make or sell and must be able to provide allergen information to customers on request. It is important that all staff receive training and information on the 14 allergens contained in food.</p>
              </li>   
            </ol>

            <h3 class="govuk-heading-s">Pre-ordering</h3>

            <h3 class="govuk-heading-s">Payment</h3>

            <h2 class="govuk-heading-m">Facilities</h2>
            <h3 class="govuk-heading-s">Kitchens</h3>
              <ol class="govuk-list govuk-list--number">
                <li><p>The supplier must comply with the Health and Safety Executive guidelines for catering and hospitality.</p></li>
              </ol>

            <h3 class="govuk-heading-s">Equipment</h3>
              <ol class="govuk-list govuk-list--number"> 
                  <li><p>The supplier will be responsible for insuring, maintaining, repairing or replacing any equipment they provide and must keep a service record.</p></li>
              </ol>

               <h3 class="govuk-heading-s">Dining areas</h3>

               <h3 class="govuk-heading-s">Cleaning</h3>

          </section>
        </article>
    </div>
  </div>
{% endblock %}
