{% extends "layout.html" %}

{% block pageTitle %}
  Create a new specification
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: '<a href="../feedback/start">Get involved</a> in making the Get help buying for schools service better (opens in new tab)'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: " ../create-specification"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="name-your-specification" method="POST">
        {{ govukRadios({
          idPrefix: "category-type",
          name: "category-type",
          fieldset: {
            legend: {
              text: "What are you buying?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "a catering service",
              text: "Catering service"
            },
            {
              value: "multi-functional devices",
              text: "Multi-functional devices",
              hint: {
                text: "Machines that can print, copy, scan and fax."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>      
    </div>
  </div>
{% endblock %}
