{% extends "layouts/main.html" %}
{% set title = "What are you buying?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/specify/dashboard"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method="post">
        {{ govukRadios({
          idPrefix: "category-type",
          name: "category-type",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "a catering service",
              text: "Catering service"
            },
            {
              value: "multi-functional devices",
              text: "Multi-functional devices",
              hint: {
                text: "Machines that can print, copy, scan and fax."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>      
    </div>
  </div>
{% endblock %}
