{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
   {% include "includes/_faf-inset-top.html" %}
   
    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What services are you looking for in energy and utilities?</h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-energy" name="sub-category" type="radio" value="Electricity~energy/electricity?facilities=&gas-price=&meter=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-energy">Electricity</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-energy-2" name="sub-category" type="radio" value="Gas~energy/gas?facilities=&gas-price=&meter=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-energy-2">Gas</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-energy-3" name="sub-category" type="radio" value="Liquid fuel~energy/liquid-fuels?facilities=&gas-price=&meter=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-energy-3">Liquid fuel</label>  
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-energy-4" name="sub-category" type="radio" value="Water, drains and sewerage~energy/water-drains-sewarage?facilities=&gas-price=&meter=">
              <label class="govuk-label govuk-radios__label" for="decision-tree-energy-4">Water, drains and sewerage</label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    {% include "../../includes/_previous-answers.html" %}
    
  </div>
</div>
{% endblock %}