{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/_faf-inset-top.html" %}
      
    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What services are you looking for in buildings maintenance?</h1>
          </legend>
          <div class="govuk-radios">        
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-building-categories" name="facilities" type="radio" value="Boilers and plumbing~building-maintenance/boilers-plumbing">
              <label class="govuk-label govuk-radios__label" for="decision-tree-building-categories">Boilers and plumbing</label>
            </div>         
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-building-categories-2" name="facilities" type="radio" value="Total buildings maintenance~building-maintenance/total-buildings-maintenance">
              <label class="govuk-label govuk-radios__label" for="decision-tree-building-categories-2">Total buildings maintenance</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-building-categories-3" name="facilities" type="radio" value="Waste management~building-maintenance/waste-management">
              <label class="govuk-label govuk-radios__label" for="decision-tree-building-categories-3">Waste management</label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
    
    {% include "../../../includes/_previous-answers.html" %}
   
  </div>
</div>
{% endblock %}