{% extends "layouts/main.html" %}

{% block pageTitle %}
Buying for schools
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <div class="govuk-width-container ">
        
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a new service - your feedback will help us improve it
      </span>
    </p>
  </div>
</div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Running and managing a school</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<main role="main" id="content" class="detailed-guide" lang="en">
  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Buying for schools: get help from procurement specialists</h1>
</div>
</div>

<div class="govuk-grid-column-two-thirds">
<p class="gem-c-lead-paragraph">Use the Get help buying for schools service to get free and impartial advice and guidance from procurement specialists for all state-funded schools.
</p>

</div>
</div>

<div class="govuk-grid-row">
<div class="metadata-logo-wrapper">
<div class="govuk-grid-column-two-thirds metadata-column">
<div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
<dl data-module="gem-track-click" data-gem-track-click-module-started="true">
<dt class="gem-c-metadata__term">From:</dt>
<dd class="gem-c-metadata__definition">
  <a class="govuk-link" href="#">Department for Education</a>

</dd>
<dt class="gem-c-metadata__term">Not yet published</dt>
<dd class="gem-c-metadata__definition">-</dd>
<dt class="gem-c-metadata__term">Last updated</dt>
<dd class="gem-c-metadata__definition">
12 May 2023
  — <a href="#" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history"> See all updates
  </a>
</dd>
</dl>
</div>
</div>
<div class="govuk-grid-column-one-third">
</div>
</div>
</div>

<div class="govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="gem-track-click" data-gem-track-click-module-started="true">
<form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/get-help-buying-for-schools" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
<input type="hidden" name="base_path" value="/guidance/get-help-buying-for-schools">
<button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg><span class="gem-c-single-page-notication-button__text"> Get emails about this page</span>
</button>
</form>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
  <section class="gem-c-devolved-nations">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
      Applies to England
</h2>
</section>
<div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container" data-sticky-element-container-module-started="true">
  <div class="responsive-bottom-margin">
    <aside class="app-mainstream-guide-contents-list" role="complementary">
      <nav class="app-contents-list" aria-label="Our specialists and what they can offer" role="navigation">
        <h2 class="app-contents-list__title">
          Contents
        </h2>
        <ol class="app-contents-list__list">
          <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#our-specialists-and-what-they-can-offer">Our specialists and what they can offer</a>
          </li>
          <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#working-with-us-to-run-a-complex-or-high-value-procurement">Working with us to run a complex or high value procurement</a>
          </li>
          <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#how-long-the-process-takes">How long the process takes</a>
          </li>
          <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#request-support">Request support</a>
          </li>
          <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
            <a href="#resources-to-help-you-buy">Resources to help you buy</a>
          </li>
        </ol>
      </nav>
    </aside>
  
  </div>
  

  <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link" data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:1},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Content&quot;}" data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
</div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

<div class="govspeak">

  <h2 class="govuk-heading-m" id="our-specialists-and-what-they-can-offer">Our specialists and what they can offer</h2>

<p>Our team of procurement specialists can save you time and money by offering free support when you're buying any goods or services for your school.</p>
<p>They can offer advice and guidance to make sure you're buying compliantly at any point, even if your procurement is already in progress.</p>
<p>Our specialists can also review your documents to make sure they are complete and compliant. This includes advice on specification documents, tender documents and evaluation criteria.</p>
<p>For complex or high value procurements, our specialists can help to run it from beginning to end. Complex or high value procurements include one or more of the following:
  <ul class="govuk-list govuk-list--bullet">
        <li>the value is above the public contracts regulations (PCR) threshold of £138,760 plus VAT </li>
        <li>you're buying for multiple schools</li>
        <li>the procurement requires the transfer of personnel contracts under the Transfer of Undertakings (Protection of Employment) regulations (TUPE)</li>
        <li>it's challenging to find suppliers</li>
        <li>there are problems with supply or prices change regularly, for example energy costs</li>
        <li>contracts are long term or multi-year</li>
        </ul>
      </p>
    </ul>

<p class="govuk-body">We may also offer you extra help if you're new or not experienced in running these types of procurements. Your procurement must be over the PCR threshold to apply.</p>

<h2 class="govuk-heading-m" id="working-with-us-to-run-a-complex-or-high-value-procurement">Working with us to run a complex or high value procurement</h2>
        
      <p class="govuk-body">We'll need you to work closely with us to make sure that your procurement is a success. This means that you'll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>gather information, for example, to create a specification </li>
        <li>tasks, such as checking documents for accuracy </li> 
        <li>make decisions</li>
        <li>be available for meetings </li>
      </ul>
      <p class="govuk-body">We'll advise you on what to gather or what you need to do at each stage of your procurement to be compliant. <a href="#" class="govuk-link"> See what the stages of buying are.</a> </p>
     </p>
     
        <h2 class="govuk-heading-m" id="how-long-the-process-takes">How long the process takes</h2>

      <p class="govuk-body">The time a procurement process takes varies depending on what you're buying.</p>
        
      <p class="govuk-body">It typically takes 6 months to run a procurement but can be longer if tasks are not done on time, or if the procurement is complex or high value. For example, if you're doing a procurement for multiple schools or if it requires a transfer of staff contracts. These types of complex procurements can take 12 months or longer.</p>

      <p class="govuk-body">When we talk to you, we'll advise you on how long your procurement can take.</p>

      <p class="govuk-body">Depending on the process that's right for your school, we may give you a timeline to follow.</p>


      <h2 class="govuk-heading-m" id="request-support">Request support </h2>

      <p class="govuk-body">Make a request for help or support with your procurement by using the Get help buying for schools service.</p>
  
      <a class="govuk-button" role="button" href="https://www.get-help-buying-for-schools.service.gov.uk/procurement-support">Request help and support</a>
     
      <p class="govuk-body">We'll usually stay in contact by email. Sometimes we may arrange a video call with you, for example if we want to talk with you about something complicated, or we want to discuss the help we can offer.</p>
      <p class="govuk-body">If you need us to communicate with you in another way, you can let us know when you first make a request for support.</p>
      
    <h2 class="govuk-heading-m" id="resources-to-help-you-buy">Resources to help you buy</h2>
   
      <p class="govuk-body">We offer other tools and resources such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <p class="govuk-body">
        <li>guidance on how to buy and buying routes</li>
        <li>ways to get support from other schools</li>
        <li>self-guided tools that you can use for your procurement</li>
        </p>
      </ul>
        <p class="govuk-body">Go to the <a href="http://localhost:3000/buying-for-schools" class="govuk-link"> buying for schools</a> guidance to see what we offer.</p>
      </ul>
      
</div>

</div>

<div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled">
  <div class="app-c-contents-list-with-body__link-container">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
  <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
  <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
  </svg>
  Contents
  </a>
  
  </div>
  </div>
</div>
</div>

<div class="govuk-grid-column-one-third">

  <aside class="app-related-items" role="complementary">
    <h3 class="govuk-heading-s" id="subsection-title">
      Related content
    </h3>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
            <a href="#">
              Buying for schools: how to buy what you need 
            </a>
          </li>
          <li>
            <a href="#">
              Buying for schools: things to consider before you start 
            </a>
          </li>
      </ul>
    </nav>
  </aside>

</div>


</div>

<div class="govuk-grid-row">

<div class="gem-c-contextual-footer">
<div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">

</div>
</div>


</div>
</div>



</main>


{% endblock %}
