{% extends "layouts/main.html" %}

{% block pageTitle %}
Buying for schools
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <div class="govuk-width-container ">
        
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a new service – your feedback will help us improve it
      </span>
    </p>
  </div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<main role="main" id="content" class="detailed-guide" lang="en">
  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Buying for schools</h1>
</div>
</div>

<div class="govuk-grid-column-two-thirds">
<p class="gem-c-lead-paragraph">Resources to help you with buying goods and services for your school, helping you get better value and be compliant with procurement law.</p>

</div>
</div>

<div class="govuk-grid-row">
<div class="metadata-logo-wrapper">
<div class="govuk-grid-column-two-thirds metadata-column">
<div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
<dl data-module="gem-track-click" data-gem-track-click-module-started="true">
<dt class="gem-c-metadata__term">From:</dt>
<dd class="gem-c-metadata__definition">
  <a class="govuk-link" href="/government/organisations/department-for-education">Department for Education</a>

</dd>
<dt class="gem-c-metadata__term">Published</dt>
<dd class="gem-c-metadata__definition">18 May 2022</dd>
<dt class="gem-c-metadata__term">Last updated</dt>
<dd class="gem-c-metadata__definition">
2 September 2022
  — <a href="#full-publication-update-history" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
    See all updates
  </a>
</dd>
</dl>
</div>
</div>
<div class="govuk-grid-column-one-third">
</div>
</div>
</div>

<div class="govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="gem-track-click" data-gem-track-click-module-started="true">
<form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/get-help-buying-for-schools" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
<input type="hidden" name="base_path" value="/guidance/get-help-buying-for-schools">
<button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
</button>
</form>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<section class="gem-c-devolved-nations">
<h2 class="govuk-heading-s govuk-!-margin-bottom-0">
Applies to England
</h2>
</section>

<div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container" data-sticky-element-container-module-started="true">
<div class="responsive-bottom-margin">
  <aside class="app-mainstream-guide-contents-list" role="complementary">
    <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
      <h2 class="app-contents-list__title">
        Contents
      </h2>
      <ol class="app-contents-list__list">
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#how-to-buy-compliantly-step-by-step">How to buy compliantly step by step</a>
        </li>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#understand-what-to-consider-when-buying-goods-or-services">Understand what to consider when buying goods or services</a>
        </li>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#get-free-and-impartial-help-from-procurement-specialists">Get free and impartial help from procurement specialists</a>
        </li>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#use-self-guided-tools">Use self-guided tools</a>
        </li>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#get-support-from-other-schools">Get support from other schools</a>
        </li>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#learn-how-to-get-value-for-money">Learn how to get value for money</a>
        </li>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#get-specialist-insurance-for-public-sector-schools">Get specialist insurance for public sector schools</a>
        </li>
        <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
          <a href="#stay-up-to-date">Stay up to date</a>
        </li>
      </ol>
    </nav>
  </aside>

</div>

<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link" data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:1},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Content&quot;}" data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
</div>


<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

<div class="govspeak">

<h2 class="govuk-heading-m" id="how-to-buy-compliantly-step-by-step">How to buy compliantly step by step</h2>

<p>Once you know what you're buying and how much you're spending, you'll need to decide the best way to buy for your school.</p>

<p class="govuk-body"> <a rel="external" href="https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools/find-the-right-way-to-buy">See our recommended buying routes</a> to help you decide which route is best for you to follow.</p>

<h2 class="govuk-heading-m" id="#understand-what-to-consider-when-buying-goods-or-services">Understand what to consider when buying goods or services</h2>
        
      <p class="govuk-body"><a rel="external" href="https://www.gov.uk/guidance/buying-for-schools">Read guidance on buying specific goods and services,</a> such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>catering</li>
        <li>cleaning</li>
        <li>energy</li>
        <li>furniture</li>
        <li>ICT and computer hardware</li>
        <li>Multifunctional-devices and printing</li>
      </ul>
      
      <h2 class="govuk-heading-m" id="#get-free-and-impartial-help-from-procurement-specialists">Get free and impartial help from procurement specialists</h2>
     
      <p>Use <a href="https://www.get-help-buying-for-schools.service.gov.uk/procurement-support" class="govuk-link"> Get help buying for schools</a> for advice, help and support from our team of DfE procurement specialists on buying goods and services.</p>

      <p>Our procurement specialists can give advice at any stage of your procurement process.</p>
        
      <p>This service applies to all state funded schools in England.</p>

      <h2 class="govuk-heading-m" id="#use-self-guided-tools">Use self-guided tools</h2>
      
      <p>You can use our tools at any time to help you at specific stages of your procurement. It's easier to use these tools if you're already familiar with the 
        <a href="https://www.gov.uk/types-of-school" class="govuk-link">procurement process</a>.
    </p>  
          <h3 class="govuk-heading-s">
        Use a DfE recommended buying solution
          </h3>
      
      <p>We recommend using a framework to buy for your school. These are sometimes known as a procurement framework or framework agreements.</p>
      <p>Frameworks covers all spend levels. They are arrangements or buying rules that have been set up that helps you to buy specific goods and services compliantly, for example catering, cleaning and so on. The process you follow is usually guided and is shorter than running a procurement yourself.</p>
      <p>Frameworks include criteria that must be fulfilled by the suppliers who have signed up to be a part of it, such as price, quality, aftercare and so on. This means you can trust that you’ll receive good quality goods or services that gives value for money.</p>
      
      <p class="govuk-body">Each framework will have a different list of suppliers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <p class="govuk-body">
        <ul class="govuk-list govuk-list--bullet"></ul>
        <li><a href="https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools/find-the-right-way-to-buy" class="govuk=link"> Read about frameworks</a> and what they are</li>
        <li>Use the <a href="https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school" class="govuk=link">find a framework tool </a> to find recommended procurement frameworks.</li>
      </ul>
      
      <h3 class="govuk-heading-s">
        Create a specification for your procurement 
      </h3>
      <p>A specification is the document you write to explain to suppliers what you want to buy.</p> 
      <p>Use the <a href="https://www.get-help-buying-for-schools.service.gov.uk" class="govuk-link">create a specification tool</a> to help you create a specification for:
      <ul class="govuk-list govuk-list--bullet">
        <li>catering</li>
        <li>multifunctional devices or printers</li>
      </ul>
      <p>More categories will be added if schools find this tool useful.</p>
      <p>The tool will save you time by producing a specification based on the responses you give to a set of questions.</p>
      <p>The questions will cover essential information that you need to provide and automatically includes rules that suppliers must follow.</p>
      <p>You will need a DfE sign-in account to use it.</p>
      
      <h2 class="govuk-heading-m" id="#get-support-from-other-schools">Get support from other schools</h2>
      
      <p>To get support, you can join or create a <a href="https://www.gov.uk/government/publications/join-or-create-a-network-for-school-business-professionals" class="govuk-link">school business professionals network</a> to help you connect and share information with your peers.</p> 
      
      <h2 class="govuk-heading-m" id="#learn-how-to-get-value-for-money">Learn how to get value for money</h2>

      <p>You can <a href="https://www.eventbrite.com/cc/free-dfe-webinars-for-schools-autumn-2022-621519" class="govuk-link">register for our free webinars and events</a> to help your school get value for money.</p>

      <h2 class="govuk-heading-m" id="#get-specialist-insurance-for-public-sector-schools">Get specialist insurance for public sector schools</h2>
        
      <p>The <a href="https://www.gov.uk/guidance/the-risk-protection-arrangement-rpa-for-schools" class="govuk-link">risk protection arrangement (RPA)</a>, is DfE's alternative to commercial insurance for public sector schools. Joining is easy and takes less than 5 minutes. Cover includes:</p>
      <ul class="govuk-list govuk-list--bullet">
      <p class="govuk-body">
      <li>cyber </li>
      <li>overseas and UK travel</li>
      <li>public liability</li>
      <li>material damage</li>
    </ul>

    <h2 class="govuk-heading-m" id="#Stay-up-to-date">Stay up to date</h2>
   
      <p class="govuk-body">To learn more about buying for schools, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <p class="govuk-body">
        <li>join <a href="https://www.linkedin.com.mcas.ms/showcase/buying-for-schools/?viewAsMember=true" class="govuk-link"> @Buying for schools </a> LinkedIn for regular updates about how we’re supporting schools to make the most of non-staff spend</li>
        <li>read our <a href="https://buyingforschools.blog.gov.uk" class="govuk-link"> buying for schools blog</a> see what we are working on now and what we are doing next</li>
        <li>email <a href="mailto:schools.commercial@education.gov.uk" class="govuk-link"> schools.commercial@education.gov.uk</a> you have any further questions</li>
      </ul>
</div>

</div>


<div class="published-dates-button-group">
<div class="govuk-!-display-none-print govuk-!-margin-bottom-3" data-module="gem-track-click" data-gem-track-click-module-started="true">
<form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/get-help-buying-for-schools" data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button" data-button-location="bottom" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
<input type="hidden" name="base_path" value="/guidance/get-help-buying-for-schools">
<button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
</button>
</form>
</div>

<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8">
<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link" data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:2},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Footer&quot;}" data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
</div>
</div>



<div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled">
<div class="app-c-contents-list-with-body__link-container">
  <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
<svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
</svg>
Contents
</a>

</div>
</div>
</div>
</div>

<div class="govuk-grid-column-one-third">

  <aside class="app-related-items" role="complementary">
    <h3 class="govuk-heading-s" id="subsection-title">
      Related content
    </h3>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
            <a href="#">
              Buying procedures and procurement law 
            </a>
          </li>
          <li>
            <a href="#">
              What to consider when buying goods and services 
            </a>
        </li>
      </ul>
    </nav>
  </aside>

</div>


</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<div class="gem-c-contextual-footer">
<div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">



<nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-977203db" data-module="gem-toggle" data-gem-toggle-module-started="true">

<h2 id="related-nav-topics-977203db" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

<ul class="gem-c-related-navigation__link-list">
<li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/education/running-and-managing-a-school" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Running and managing a school&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Explore the topic&quot;}" href="/education/running-and-managing-a-school">Running and managing a school</a></li>

</ul>
</nav>

</div>
</div>


</div>
</div>



</main>


{% endblock %}
