{% extends "layouts/main.html" %}

{% block pageTitle %}
Buying procedures and procurement law for schools
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <div class="govuk-width-container ">
        
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a new service – your feedback will help us improve it
      </span>
    </p>
  </div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          


    <div class="govuk-grid-row manual-header">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"> Buying procedures and procurement law for schools</h1>
        <div class="gem-c-metadata gem-c-metadata--inverse" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
          <dl data-module="gem-track-click" data-gem-track-click-module-started="true">
              <dt class="gem-c-metadata__term">From:</dt>
              <dd class="gem-c-metadata__definition">
                  <a class="govuk-link" href="/government/organisations/department-for-education">Department for Education</a>
        
              </dd>
              <dt class="gem-c-metadata__term">Published</dt>
              <dd class="gem-c-metadata__definition">1 July 2019</dd>
                  <dt class="gem-c-metadata__term">Updated:</dt>
                  <dd class="gem-c-metadata__definition">
                      24 January 2022, <a href="/guidance/buying-procedures-and-procurement-law-for-schools/updates">see all updates</a>
        
                  </dd>
          </dl>
        </div>
      </div>
    </div>
    <aside class="app-mainstream-guide-contents-list" role="complementary">
      <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
        <h2 class="app-contents-list__title">
          Contents
        </h2>
        </nav></aside>
{% endblock %}

{% block content %}
<main role="main" id="content" class="manual" lang="en">
  <div id="manuals-frontend" class="manuals-frontend-body">

<div class="manual-body">
  <p class="gem-c-lead-paragraph">How to buy goods, works or services for your school.</p>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

  <p class="govuk-body">Following these guides will help schools to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>get value for money</li>
    <li>comply with procurement law</li>
  </ul>

<p>Read <a href="https://www.gov.uk/guidance/buying-for-schools">buying for schools</a> for advice on the types of goods and services schools regularly buy, such as catering and ICT hardware.</p>

<p>On 31 December 2020, the <a rel="external" href="https://www.find-tender.service.gov.uk/Search">Find a Tender service</a> replaced Tenders Electronic Daily (TED) in the UK public procurement process. UK buyers who previously published OJEU notices on TED should now use the Find a Tender service. Notices published before this change are still on <a rel="external" href="https://ted.europa.eu/TED/browse/browseByMap.do">TED</a>.</p>

</div>
<ul class="gem-c-document-list">
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/before-you-start">Before you start</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to prepare and research before buying things for your school to help you get the best deal and save money.</p>
  </li>
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/writing-a-specification">Writing a specification</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to write a specification – the document you give to suppliers explaining what you want to buy.</p>
  </li>
  <li class="gem-c-document-list__item">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/find-the-right-way-to-buy">Find the right way to buy</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">When to buy from a framework agreement, when to get bids or quotes and when to run a Public Contracts Regulations (PCR) compliant buying process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/select-a-supplier-direct-from-a-framework-agreement">Select a supplier direct from a framework agreement</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy from a framework agreement where they’re allowed to select the supplier directly.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/run-a-mini-competition">Run a mini-competition</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy from a framework agreement where all suppliers can bid.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/buying-low-to-medium-cost-things">Buying low to medium cost things</a>
     <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy low or medium value things by researching suppliers and getting at least 3 quotes.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/buying-high-value-things-under-the-eu-procurement-threshold">Buying high-value things under the Public Contracts Regulations (PCR) procurement threshold </a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy high value things, including how to advertise a contract and run a procurement process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/buying-things-that-are-over-the-eu-procurement-threshold">Buying things that are over the procurement threshold</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How schools can buy high value things and comply with Public Contracts Regulations (PCR) procurement rules, including advertising a contract and running a buying process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/writing-contracts-and-managing-a-contract">Writing contracts and managing a contract</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">What should be in a school's contract with their supplier, and how they should manage them throughout the buying process.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/fraud">Fraud</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to avoid fraud and what to do if you suspect it.</p>
  </li>
  <li class="gem-c-document-list__item  ">
    <a class="gem-c-document-list__item-title   govuk-link" href="/guidance/buying-procedures-and-procurement-law-for-schools/how-to-manage-your-fixed-assets">How to manage your fixed assets</a>
      <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Keeping a fixed asset register</p>
  </li>
</ul>
<footer class="gem-c-layout-footer govuk-footer gem-c-layout-footer--border" role="contentinfo" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
  <div class="govuk-width-container">
      <div class="govuk-footer__navigation" data-module="gem-track-click" data-track-links-only="" data-gem-track-click-module-started="true">
            <div class="govuk-grid-column-two-thirds govuk-!-display-none-print">
              <h2 class="govuk-footer__heading govuk-heading-m">Topics</h2>
                <ul class="govuk-footer__list govuk-footer__list--columns-2">
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/benefits" data-track-options="{&quot;dimension29&quot;:&quot;Benefits&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;1&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/benefits">Benefits</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/births-deaths-marriages" data-track-options="{&quot;dimension29&quot;:&quot;Births, death, marriages and care&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;2&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/births-deaths-marriages">Births, death, marriages and care</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/business" data-track-options="{&quot;dimension29&quot;:&quot;Business and self-employed&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;3&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/business">Business and self-employed</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/childcare-parenting" data-track-options="{&quot;dimension29&quot;:&quot;Childcare and parenting&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;4&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/childcare-parenting">Childcare and parenting</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/citizenship" data-track-options="{&quot;dimension29&quot;:&quot;Citizenship and living in the UK&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;5&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/citizenship">Citizenship and living in the UK</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/justice" data-track-options="{&quot;dimension29&quot;:&quot;Crime, justice and the law&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;6&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/justice">Crime, justice and the law</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/disabilities" data-track-options="{&quot;dimension29&quot;:&quot;Disabled people&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;7&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/disabilities">Disabled people</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/driving" data-track-options="{&quot;dimension29&quot;:&quot;Driving and transport&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;8&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/driving">Driving and transport</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/education" data-track-options="{&quot;dimension29&quot;:&quot;Education and learning&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;9&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/education">Education and learning</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/employing-people" data-track-options="{&quot;dimension29&quot;:&quot;Employing people&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;10&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/employing-people">Employing people</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/environment-countryside" data-track-options="{&quot;dimension29&quot;:&quot;Environment and countryside&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;11&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/environment-countryside">Environment and countryside</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/housing-local-services" data-track-options="{&quot;dimension29&quot;:&quot;Housing and local services&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;12&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/housing-local-services">Housing and local services</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/tax" data-track-options="{&quot;dimension29&quot;:&quot;Money and tax&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;13&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/tax">Money and tax</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/abroad" data-track-options="{&quot;dimension29&quot;:&quot;Passports, travel and living abroad&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;14&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/abroad">Passports, travel and living abroad</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/visas-immigration" data-track-options="{&quot;dimension29&quot;:&quot;Visas and immigration&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;15&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/visas-immigration">Visas and immigration</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/working" data-track-options="{&quot;dimension29&quot;:&quot;Working, jobs and pensions&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;16&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;5&quot;},&quot;index_total&quot;:&quot;16&quot;,&quot;section&quot;:&quot;Topics&quot;}" href="/browse/working">Working, jobs and pensions</a>
                      </li>
                </ul>
            </div>
            
      </div>

      
        
{% endblock %}
