{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p><a href="support/start">Request for help</a></p>
    <p><a href="faf/start">Find a framework</a></p>
    <p><a href="specify/start">Create a specification</a></p>
    <p><a href="triage/start">Request for help - triage</a></p>
 

    <h2 class="govuk-heading-l">
      Guidance pages
    </h2>

    <p><a href="guidance/buying-for-schools">Buying for schools</a></p>
    <p><a href="guidance/buying-for-schools-get-help-from-procurement-specialists">Buying for schools: get help from procurement specialists</a></p>

    <h2 class="govuk-heading-l">
      Manual pages
    </h2>

    <p><a href="guidance/buying-for-schools-things-to-consider-before-you-start">Buying for schools: things to consider before you start</a></p>
    <p><a href="guidance/buying-procedures-and-procurement-law-for-schools">Buying procedures and procurement law for schools</a></p>
    <p><a href="guidance/find-the-right-way-to-buy">Buying procedures and procurement law for schools - find the right way to buy</a></p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
