{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% include "includes/_faf-inset-top.html" %}

    <span class="govuk-caption-l">Your recommendation</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3" id="resulttitle">Audio visual solutions</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Kent County Supplies (KCS) framework.</p> 
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-markdown">
      <h2 class="govuk-heading-m" id="what-it-offers">What it offers</h2>
      <p>This framework covers the provision of a full range of audio visual (AV) and interactive solutions, associated services, support and maintenance, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Interactive products and solutions</li>
        <li>Soundfield systems</li>
        <li>Digital signage</li>
        <li>Installation and integration </li>
        <li>Maintenance </li>
        <li>Projectors</li>
        <li>Replacement parts</li>
        <li>Room control systems</li>
        <li>Servicing </li>
        <li>Training </li>
        <li>Visual products (including televisions)</li>
      </ul>
      <h2 class="govuk-heading-m" id="benefits">Benefits</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Competitive pricing and special conditions exclusive to education</li>
        <li>Orders can be placed via direct award and further competition</li>
        <li>Easy to use with free and full support on using the framework from KCS Professional Services team</li>
      </ul>
    </div>

    <p class="govuk-body">All frameworks also offer:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>compliance with The Official Journal of the European Union (OJEU) principles and regulations</li>
      <li>a list of checked suppliers</li>
      <li>pre-agreed terms and conditions</li>
    </ul>

    <form>
    {{ govukRadios({
      name: "where-do-you-live",
      fieldset: {
        legend: {
          text: "Would you like help with this framework from the DfE?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes~../../../../support-faf/start",
          text: "Yes, I'd like help from DfE to use this framework"
        },
        {
          value: "no~https://www.commercialservices.org.uk/solutions/frameworks/kcs/audio-visual-solutions",
          text: "No, I'd prefer to use this framework on my own"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    </form>

    {% include "../../../../includes/_previous-answers.html" %}

  </div>
</div>
{% endblock %}