{% extends "layouts/main.html" %}
{% set title = "Is this the school you're buying for?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/support/school-search"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        <span class="govuk-caption-l">About your school</span>
        {% set hint %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Name and Address"
                },
                value: {
                  html: (data['establishment-name'] or 'Queensbridge High School' ) + ",<br>Queensbridge Road, Haggerston, Hackney,<br>London," + (data['establishment-postcode'] or 'W2 4TH')
                }
              },
              {
                key: {
                  text: "Local authority"
                },
                value: {
                  text: "Hackney"
                }
              },
              {
                key: {
                  text: "Headteacher/ Principal"
                },
                value: {
                  text: "Ms Sarah Bailey OBE"
                }
              },
              {
                key: {
                  text: "Phase of education"
                },
                value: {
                  text: "Primary"
                }
              },
              {
                key: {
                  text: "School type"
                },
                value: {
                  text: "Community school"
                }
              },
              {
                key: {
                  text: "ID"
                },
                value: {
                  html: "URN: establishment-urn" + (data['establishment-urn'] or '100235') + "</br>DfE number: 204/2487</br>UKPRN: 10078028"
                }
              }
            ]
          }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "correct-school",
          name: "correct-school",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: hint
          },
          items: [       
          {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, I need to choose another school"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
