{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About your request</span>

        <form action="" method="post">

          {% set html %}
            <p>If your request is about more than 1 thing then you will need to repeat this process</p>
          {% endset %}

          {{ govukRadios({
            idPrefix: "energy",
            name: "energy",
            fieldset: {
              legend: {
                text: "What is your request about",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: html
            },
            items: [       
            {
                value: "no~choose-signin",
                text: "Facilities management",
                hint: {
                  text: "Cleaning, "
                }
              },
              {
                value: "no~choose-signin",
                text: "Catering"
              },
              {
                value: "no~choose-signin",
                text: "Furniture"
              },
              {
                value: "yes~energy-bill",
                text: "Energy and utilities",
                hint: {
                  text: "Gas, electric, oil, solar panels"
                }
              },
              {
                value: "no~choose-signin",
                text: "Information and communications technology",
                hint: {
                  text: "Equipment, phones, devices, printers"
                }
              },
              {
                value: "no~choose-signin",
                text: "Service",
                hint: {
                  text: "Leasing and hiring"
                }
              },
              {
                value: "no~choose-signin",
                text: "Other"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
    </div>
  </div>
{% endblock %}
