{% extends "layouts/main.html" %}
{% set title = "Would you like to provide us with your energy information in another way?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/support/energy-bill"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <span class="govuk-caption-l">About your request</span>
          {% set hintText %}
            <p>By uploading your energy information, we'll be able to deal with your request quicker. If you don't have them, we'll need to know:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your current energy provider</li>
              <li>when your current contract ends</li>
              <li>how much energy you use</li>
              <li>what tariff you are on</li>
              <li>how many meters you have</li>
            </ul>
          {% endset %}

          {{ govukRadios({
            name: "have-energy-bill",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: hintText
            },
            items: [
              {
                value: "yes",
                text: "I can upload my energy information in a different format, such as in a document or a spreadsheet"
              },
              {
                value: "no",
                text: "I want to email my bills at a later date",
                hint: {
                  text: "We will email you instructions on how to do this"
                }
              },
              {
                value: "no",
                text: "I've never had an energy bill before"
              },
              {
                value: "no",
                text: "No thank you"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
    </div>
  </div>
{% endblock %}
