{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About you</span>

      {% if data['bill'] == "yes" %}
        <form action="upload-your-bill" method="post">
      {% else %}
        <form action="enter-problem-description" method="post">
      {% endif %}

        {{ govukInput({
          label: {
            text: "What is your email address?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We will only use this to contact you about your request."
          },
          id: "email-address",
          name: "email-address"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
