{% extends "layouts/main.html" %}
{% set title = "Approximately how much will the school be spending on this procurement in total?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/support/energy-request-about"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        <span class="govuk-caption-l">About your procurement</span>

        {% set html %}
          <p>This is the approximate amount you will be spending over the lifetime of the contract. Use the value of a previous or existing contract if you're unsure.</p>
          <p>We only use this as a guide to understand the procurement better. We know it can change.</p>
        {% endset %}

        {{ govukInput({
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: html
          },
          classes: "govuk-input--width-5",
          id: "value",
          name: "value",
          prefix: {
            text: "£"
          },
          spellcheck: false
        }) }}
  
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
