{% extends "layout.html" %}


{% block pageScripts %}
  <link href="/public/stylesheets/accessible-autocomplete.min.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/public/javascripts/autocomplete/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
  

  function customSuggest (query, syncResults) {
          var results = [
  { URN: "100000", EstablishmentName: "The Aldgate School", Postcode: "EC3A 5DE"},
  { URN: "100002", EstablishmentName: "St Paul's Cathedral School", Postcode: "EC4M 9AD"},
  { URN: "100005", EstablishmentName: "Thomas Coram Centre", Postcode: "WC1N 2NY"},
  { URN: "100006", EstablishmentName: "CCfL Key Stage 4 PRU", Postcode: "NW3 2NY"},
  { URN: "100007", EstablishmentName: "Camden Primary Pupil Referral Unit", Postcode: "NW1 3EX"},
  { URN: "100008", EstablishmentName: "Argyle Primary School", Postcode: "WC1H 9EG"},
  { URN: "100009", EstablishmentName: "Beckford Primary School", Postcode: "NW6 1QL"},
  { URN: "100010", EstablishmentName: "Brecknock Primary School", Postcode: "NW1 9AL"},
  { URN: "100011", EstablishmentName: "Brookfield Primary School", Postcode: "N19 5DH"},
  { URN: "100012", EstablishmentName: "Carlton Primary School", Postcode: "NW5 4AX"}
]

        syncResults(query
          ? results.filter(function (result) {
              var resultContains = result.URN.toLowerCase().indexOf(query.toLowerCase()) !== -1
              var endonymContains = result.EstablishmentName.toLowerCase().indexOf(query.toLowerCase()) !== -1
              return resultContains || endonymContains
            })
          : []
        )
      }

      function inputValueTemplate (result) {
        return result && 'URN: ' + result.URN + ', ' + result.EstablishmentName + ', ' + result.Postcode
      }

      function suggestionTemplate (result) {
        return result && 'URN: ' + result.URN + ', ' + '<strong>' + result.EstablishmentName + '</strong>' + ', ' + result.Postcode
      }

      element = document.querySelector('#my-autocomplete-container')
      id = 'autocomplete-customTemplates'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: 'result',
        source: customSuggest,
        templates: {
          inputValue: inputValueTemplate,
          suggestion: suggestionTemplate
        }
      })

      autocomplete = document.querySelector('#autocomplete-customTemplates')
      establishmentURN = document.querySelector('#establishment-urn')
      establishmentName = document.querySelector('#establishment-name')
      establishmentPostcode = document.querySelector('#establishment-postcode')


      autocomplete.addEventListener('blur', (event) => {
        var schoolParams = autocomplete.value.split(',');
        console.log(schoolParams);
        console.log('left the target')
        console.log(autocomplete.value)
        establishmentURN.value = schoolParams[0].slice(4);
        establishmentName.value = schoolParams[1];
        establishmentPostcode.value = schoolParams[2];
      });


  </script>
{% endblock %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About your school</span>

      <form action="check-school" method="post">

        <div class="govuk-form-group">
          <label for="my-autocomplete" class="govuk-label govuk-label--l">Search for your school</label>
          <div id="event-name-hint" class="govuk-hint">
            Enter the name, postcode or unique reference number (URN) of your school
          </div>
          <div id="my-autocomplete-container"></div>
        </div>

        <input type="hidden" id="establishment-urn" name="establishment-urn" value="">

        <input type="hidden" id="establishment-name" name="establishment-name" value="">

        <input type="hidden" id="establishment-postcode" name="establishment-postcode" value="">

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Can't find it?
    </span>
  </summary>
  <div class="govuk-details__text">
    This search lists single schools in England, such as local authority maintained schools, or an academy in a single or multi-academy trust. <a href="group-trust-search.html" class="govuk-link govuk-link--no-visited-state">Search for an academy trust or federation</a> instead.
<br><br>
This service is available to all state-funded primary, secondary, special and alternative provision schools with pupils aged between 5 to 16 years old.
<br><br>
Private, voluntary-aided and independent early years providers and institutions with pupils aged 16 years and above are not eligible for this service.
  </div>
</details>
      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
