{% extends "layouts/main.html" %}
{% set title = "Your files are uploading" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/support/start"
  }) }}

<style>
  progress {
    background-color: blue;
    width: 100%;
    height: 20px;
  }

  progress::-webkit-progress-bar {
    background-color: #b1b4b6;
  }
  progress::-webkit-progress-value {
    background-color: #1d70b8;
  }

  .upload-container {
  }

  .upload-container .upload-item {
    //background-color: pink;
    padding:16px;
    margin: 16px 0;
    border: 1px solid #b1b4b6;
  }

  .upload-container .upload-item.upload-item--error {
    border: 2px solid #d4351c;
    padding-bottom:32px; 
  }

  .upload-container .upload-item.upload-item--error p {
    color: #d4351c;
    font-weight:bold;
  }

  .upload-container .upload-item .upload-row  {
    clear:both;
    //margin-bottom:16px;
  }

  .upload-container .upload-item p {
    float: left;
    margin-bottom: 12px;
  }

  .upload-container .upload-item h3 {
    float: left;
    margin-bottom: 8px;
  }

  .upload-container .upload-item a {
    float: right;
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

      <span class="govuk-caption-l">About your request</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <div class="upload-container">

        <div class="upload-item">
          <div class="upload-row">
            <h3 class="govuk-heading-s">File12345.png (2MB)</h3>
          </div>
          <div class="upload-row">
            <p class="govuk-body-s">50% uploaded</p>
          </div>
          <div class="upload-row"><progress value="0" min="0" max="100"></progress></div>
        </div>

        <div class="upload-item">
          <div class="upload-row">
            <h3 class="govuk-heading-s">File12345.png (2MB)</h3>
          </div>
          <div class="upload-row">
            <p class="govuk-body-s">50% uploaded</p>
          </div>
          <div class="upload-row"><progress value="0" min="0" max="100"></progress></div>
        </div>

        <div class="upload-item">
          <div class="upload-row">
            <h3 class="govuk-heading-s">File12345.png (2MB)</h3>
          </div>
          <div class="upload-row">
            <p class="govuk-body-s">50% uploaded</p>
          </div>
          <div class="upload-row"><progress value="0" min="0" max="100"></progress></div>
        </div>

        
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/multi-file-upload-GHBFS.js"></script>
<script>
if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {
  new MOJFrontend.MultiFileUpload({
    container: $('.moj-multi-file-upload'),
    uploadUrl: '/ajax-upload-url',
    deleteUrl: '/ajax-delete-url'
  });
}
</script>

<script>
// self executing function here
(function() {
   // your page initialization code here
   // the DOM will be available here
  console.log("working!!!")
  const list = document.getElementsByTagName("progress");
  //console.log(list)

  console.log(`number of items to upload: ${list.length}`)


 const interval = setInterval(() => {

    var uploaded = 0

    console.log(`checking stuff ${list.length}`)
    for (const value of list) {
      //console.log(value.value)
      if (value.value < 100) {
        value.value += Math.floor(Math.random() * 25)
      } else {
        uploaded++
      }
      //value.value = 100
      console.log(`number of files uploaded: ${uploaded}`)
      if (uploaded == list.length) {
        clearInterval(interval)
        // redirect
        window.location.href = "bills-uploaded";
      }
      
  }
  }, 200)



})();
</script>


{% endblock %}
