{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "includes/_faf-inset-top.html" %}
    <span class="govuk-caption-l">Your recommendation</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3" id="resulttitle">Air cleaning units for education and childcare settings</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.</p> 
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-markdown">
      <p>This is part of the Building Materials and Equipment framework.</p>
      <h2 class="govuk-heading-m" id="what-it-offers">What it offers</h2>
      <p>All air cleaning units available through this framework are HEPA (high efficiency particulate air) filtration units that meet a suitable standard of specification for use in education settings. You will need to assess whether an air cleaning unit is suitable for your individual setting.</p>
      <h2 class="govuk-heading-m" id="benefits">Benefits</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>available for all state-funded primary and secondary schools, further education colleges and early years settings</li>
        <li>units can be purchased directly from suppliers</li>
      </ul>

      <h2 class="govuk-heading-m" id="how-to-buy">How to buy</h2>
      <p>Choose from the list below and buy air cleaning units by quoting:<br><strong>BME-13742-202</strong>. We may review this list and more products could become available in future. </p>
      <p><strong>Dyson Pure Cool Formaldehyde – TP09</strong> </p>
      <p>Price: £424.82 per unit, £65 for a replacement filter<br>Model: Dyson Pure Cool Formaldehyde – TP09<br>Size: Height 1050mm, Width 220mm, Depth 220mm<br>Description:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>filtration to HEPA H13 standard</li>
        <li>the H13 filter standard removes 99.95% of ultrafine particles (0.1microns) in the air</li>
        <li>all filters are certified to the latest standards for filtration</li>
        <li>captures dust, allergens and bacteria</li>
      </ul>
      <p>Supplier's email: <a href="mailto:Customer.connect@rexel.co.uk">Customer.connect@rexel.co.uk</a></p>
      <p><a href="https://www.rexel.co.uk/uki/dfe-information">Buy from Rexel</a></p>
      <p><strong>Camfil City M</strong></p>
      <p>Price: £1219 per unit, £355 for a replacement filter<br>Model: City M<br>Size: Height 720mm, Width 340mm, Depth 345mm<br>Description:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>filtration to HEPA H14 standard (dual filters)</li>
        <li>the H14 filter standard removes 99.995% of ultrafine particles (tested to 0.1 - 0.2microns) in the air and is a medical grade of filter</li>
        <li>all filters are individually tested and certified to the relevant standards for filtration (EN1822:2019)</li>
        <li>also efficient in reducing odours and in some cases gases that are commonly found in indoor air inside homes, offices, schools, hospitals, gyms, and public buildings</li>
      </ul>
      <p>Supplier's email: <a href="mailto:Customer.connect@rexel.co.uk">Customer.connect@rexel.co.uk</a></p>
      <p><a href="https://www.rexel.co.uk/uki/dfe-information">Buy from Rexel</a></p>
      <h2 class="govuk-heading-m" id="terms-and-conditions">Terms and conditions</h2>
      <p>DfE has carried out a compliant procurement for the supply and delivery of air filtration devices under the CCS Framework agreement RM6157, Building Materials and Equipment. </p>
      <p>Educational establishments will have access to these products and prices via the approved suppliers’ website and any orders placed are to be covered under the terms and conditions of the RM6157 framework (the <a href="https://www.crowncommercial.gov.uk/agreements/RM6157">materials purchase order short form conditions</a> document is available from CCS website).</p>
      <p>When procuring these devices, the Educational establishments must quote the unique number: BME-13742-202.  This will ensure that the price point agreed with DfE is met by the supplier and that the educational establishment remains compliant under the terms and conditions of the CCS framework.</p>
      <p class="govuk-body">All frameworks also offer:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>compliance with the relevant procurement regulations</li>
        <li>suppliers pre-checked by the approved framework provider</li>
        <li>pre-agreed terms and conditions</li>
      </ul>
    

    <form>
    {{ govukRadios({
      name: "where-do-you-live",
      fieldset: {
        legend: {
          text: "Would you like help with this framework from the DfE?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes~../../support-faf/start",
          text: "Yes, I'd like help from DfE to use this framework"
        },
        {
          value: "no~https://www.crowncommercial.gov.uk/agreements/RM6157:3/lot-suppliers",
          text: "No, I'd prefer to use this framework on my own"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    </form>

    {% include "../../includes/_previous-answers.html" %}
  </div>
</div>

{% endblock %}