{% extends "layout.html" %}

{% block pageTitle %}
  Find a DfE approved framework for your school
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/_faf-inset-top.html" %}

    <form action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What goods are you looking for in ICT?</h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-categories" name="sub-category" type="radio" value="Audio and visual~ict/audio-visual">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-categories">Audio and visual</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-categories-2" name="sub-category" type="radio" value="Hardware~ict/hardware">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-categories-2">Hardware</label>       
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-categories-3" name="sub-category" type="radio" value="Networking~ict/networking">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-categories-3">Networking</label>    
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-categories-4" name="sub-category" type="radio" value="Printers, copiers and multi-functional devices (MFDs)~ict/mfd">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-categories-4">Printers, copiers and multi-functional devices (MFDs)</label>       
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="decision-tree-ict-categories-5" name="sub-category" type="radio" value="Software~ict/software/ict-procurement">
              <label class="govuk-label govuk-radios__label" for="decision-tree-ict-categories-5">Software</label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    {% include "../../includes/_previous-answers.html" %}
    
  </div>
</div>
{% endblock %}